[2016-10-21 20:13] konobi commented on #9217
Oh, and `Joose.Class instanceof Joose.Class` is `true` under Joose. So it's this aspect of selfhosting which is what a lot of folks have a hard time wrapping their head around.

[2016-10-22 23:16] konobi commented on #9217
So I had a bit of a lightbulb moment in terms of the cognitive gap in terms of where we're coming from. I'm not interested in changing how the qx API works, it should absolutely remain the same.

If you can give me an example of a simple class within the qooxdoo implementation itself, I can translate that using joose. Once a class is an instanceof joose.class, you can do whatever else joose can do

[2016-10-23 02:44] derrell commented on #9217
The base class in qooxdoo upon which all others extend is qx.core.Object. Does it make sense to have it extend joose.Class ? If you check out the code, it's in framework/source/class/qx/core/Object.js

[2016-10-23 02:51] konobi commented on #9217
I'd use it to reimplement Object.js. then qx.core.Object would be a meta-instance of joose. so Just translating that entire file into the joose equivalent. It should actually be a lot shorter overall.

[2016-10-23 13:16] derrell commented on #9217
Sounds, great @konobi. I'm eager to see qx/core/Object.js translated into the joose equivalent so we can really understand what you're pushing for. So far, this has all been theoretical/hypothetical talk. Where's the beef? :-)

[2016-10-24 05:09] konobi commented on #9217
I'd like to remind you that it was folks in qooxdoo who asked for external input on code reuse using composition based on others prior experiences with moose/joose/mop/etc. I'm not here to convince you, just assist. I thought reimplementing a small class with the joose equivalent would be useful in assisting in providing better context for the team; but it seems like there's no real interest so I'

[2016-10-25 08:53] level420 commented on #9182
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9219

[2016-10-25 13:10] level420 opened #9220 "qooxdoo.org currently down"
Due to currently unknown reasons qooxdoo.org is unavailable and shows a rudimentary page where all assets are missing.

All demos, api viewer, documentation and the playground is unavailable atm.

We are investigating the issue and hope we will be online again soon.

[2016-10-26 06:30] cajus commented on #9220
github update:

[2016-10-26 07:19] cajus commented on #9220
While they're inspecting the problem:

docs: https://ferdi.naasa.net/qx/current
api: https://ferdi.naasa.net/qx/current/api

devel - docs: https://ferdi.naasa.net/qx/devel
devel - api: https://ferdi.naasa.net/qx/devel/api

**There's no rewrite of the navigation links, so some of them might end nowhere.**

[2016-10-27 10:39] LibreJS opened #9222 "Make qooxdoo compatible with LibreJS"
Easy guide on how to do it: https://www.gnu.org/software/librejs/manual/librejs.html#Setting-Your-JavaScript-Free

This should take no more than a few minutes.

Thank you.

[2016-10-27 10:58] johnspackman commented on #9222
@LibreJS you look like a robot.  If you want to start a discussion that's fine, otherwise you're just spam.  A brief look at LibreJS seems to show that it objects to minified and "nontrivial" javascript applications, and Qooxdoo is designed specifically for building nontrivial apps.  Discuss...

[2016-10-27 11:23] #9222 closed

[2016-10-30 22:37] thron7 commented on #9220
Just to mention this again, docs are also available via ReadTheDocs: https://qooxdoo.readthedocs.io/en/latest/

Master is built quite regularly there. Links are also not rewritten.

[2016-11-04 08:36] level420 commented on #9220
@cajus could we close this, as your workaround seems to have solved it?

[2016-11-04 09:25] cajus commented on #9220
Lets do so...

[2016-11-04 09:25] #9220 closed

[2016-11-04 09:26] cajus commented on #9179
I guess we all need to eat some time-extension-pills (TM) and re-do the complete page, finally ;-)

[2016-11-11 14:38] level420 commented on #8936
It might be that the 1st issue in the description was fixed by PR https://github.com/qooxdoo/qooxdoo/pull/168

[2016-11-15 13:13] level420 commented on #8936
Fixed in master via https://github.com/qooxdoo/qooxdoo/pull/9173 and https://github.com/qooxdoo/qooxdoo/pull/168

[2016-11-15 13:13] #8936 closed

[2016-11-16 13:14] goldim opened #9230 "Method resetSelection of class qx.ui.list.List doesn't work"
The class `qx.ui.form.List` in comparison to class `qx.ui.list.List` has properly working method `resetSelection`. Instead of `mylist.resetSelection()` I use the following operation `mylist.setSelection(new qx.data.Array())`.

[2016-11-17 07:13] level420 commented on #9230
@goldim do you mean that ```qx.ui.formList.resetSelection``` does not work?

[2016-11-17 08:00] goldim commented on #9230
@level420 no, I mean qx.ui.list.List.
Playground example: http://tinyurl.com/zleldu6

[2016-11-17 08:13] level420 commented on #9230
@goldim thank you for clarifying. Do you have some time investigating the cause of this bug? Best would be if you can offer a PR for this ;-)

[2016-11-17 09:49] goldim commented on #9230
@level420 It's honor for me to take part in improving `qooxdoo` but I am not sure that I can cope with the problem because I don't have any knowledge about internal structure of the framework. But I'll try today, tomorrow or probably in the holidays. If I can not do anything I'll let you know.

[2016-11-17 11:05] level420 commented on #9230
@goldim thank you for helping the community!

[2016-11-21 10:01] johnspackman opened #9233 "Property Code Generation"
The code generation for properties is complex and obscure, particularly for setXxx methods; the generation is spread across a number of __emitXxx methods in `qx.core.Property` and while each method is adding a given feature, the feature is customised (or sometimes radically different) different depending on the variant being produced…and there can be up to 5 or 6 variants like “set”, “setTheme”, “

[2016-11-21 12:31] derrell commented on #9233
My experience is that classes are not instantiated frequently, in which case the differences in the time it takes for [].join vs. String.+ vs. various other methods isn't really an issue. (Does your experience match mine?) If we can take that as a starting point, then the choice of best implementation should be based on readability and maintainability rather than speed. Having a non-inline functio

[2016-11-21 18:10] johnspackman commented on #9233
re: performance differences, i tend to agree - I imagine that it's performant enough that I've never worried about using [].join, and the more modern the browser the less there is to worry about.

If we reduced the amount of generated code then we're reducing the amount of concatenation too, and staying out of the debate altogether.

I think my personal favourite at the moment is the minimal code

[2016-11-22 16:35] stahl-riesa commented on #9230
Instead of using the resetSelection method use this.getSelection().removeAll() to clear the selection.

The difference is how the selection is stored: qx.ui.form.list uses a private varibale, qx.ui.list.list a property exspecting an qooxdoo array like object. So if you change the selection property of qx.ui.list.list, you change the whole 'selection manager' array.

Maybe it could be helpful to ex

[2016-11-22 16:44] stahl-riesa commented on #9233
Maybe it is a good first step to look at the [qooxdoo next](https://github.com/qooxdoo/next/) implementation of the property handling. I was following that many months ago. I remember 1&1 changed that part completely.

[2016-11-23 04:24] johnspackman commented on #9233
@stahl-riesa good point; qooxdoo next supports a slightly different set of features, but it uses a single closure method and no code generation at all https://github.com/qooxdoo/next/blob/master/framework/source/class/qx/Class.js#L506-L591

[2016-11-23 07:44] goldim commented on #9230
@stahl-riesa Thank you for reply. I tried to find a solution which will resolve this bug. But I can not do anything because of qooxdoo property system. How you said above it is needed to write own methods reset, init, set (etc) and private field to fix this bug. Now about using `this.getSelection().removeAll()` instead of `resetSelection` I've used `setSelection(new qx.data.Array())` this is the s

[2016-11-23 08:13] johnspackman commented on #9230
with the release currently in master, you don't need to implement the property manually - instead, you can use the transform function and change the current property value instead of replacing it.  EG:

[code]

[2016-11-23 08:27] stahl-riesa commented on #9230
@johnspackman
Good proposal! I already thought about that, but don't check if its possible..

[2016-11-23 13:53] stahl-riesa commented on #9230
The method replace does not exist. Maybe splice is the wanted one, that could help.

BUT:
- selection property needs an qx.data.Array... so you have to use something like splice(x,y,DATAARRAY.toArray())
- even if you change the selection that way, the changeSelection event will not work

Another proposal:
How about adding / implementing modelSelection to qx.ui.list.list?

[2016-11-23 14:44] johnspackman commented on #9230
method `qx.data.Array.replace` does exist in master, I put it there 😉  https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/data/Array.js#L438-L447

If you don't use master, then `transform` will not have the current value as a second parameter, in which case you can find it by using `this.getSelection()` - but that will throw an exception if it has not been initialised (ie the

[2016-11-23 14:58] stahl-riesa commented on #9230
Thank you. Master... I did not notice that. So you are right.

I like the modelSelection feature pretty much because it is very handy.

I c-o-u-l-d add this.

[2016-11-25 07:52] level420 commented on #9230
@goldim @stahl-riesa Would be very nice to have a PR for this! Thank you for trying ;-)

[2016-11-25 10:06] goldim commented on #9230
@level420 I'll do it later on

[2016-12-01 15:51] level420 commented on #9130
milestone 5.0.2 was added to PR #9007
closing this.

[2016-12-01 15:51] #9130 closed

[2016-12-01 15:58] level420 commented on #9008
@cajus can you still reproduce this with iOs 10?
I've tried on an iPhone 6 with iOs 10.1.1 and could not reproduce this anymore.

[2016-12-01 16:04] level420 commented on #9023
@johannes-nivus could you please test this again with the devel showcase http://demo.qooxdoo.org/devel/showcase/#Form and verify if this still occurs?
I've tested this on iPhone 6 with iOs 10.1.1 and could not reproduce it anymore.

[2016-12-01 16:11] level420 commented on #9056
Closing this for now.
Please reopen if appropriate

[2016-12-01 16:11] #9056 closed

[2016-12-01 16:16] level420 commented on #9169
I think this is fixed in master.
@stahl-riesa could you please verify this by e.g. visiting http://www.qooxdoo.org/devel/toc.html ?
Thank you!

[2016-12-01 17:05] level420 commented on #9128
@stahl-riesa @oetiker
please have a look into this gist https://gist.github.com/level420/bb054f9f1bf06addf0ed68c1f18e3804 and paste it to the playground.

The fix forces a full rebuild of the tree if the properties showLeafs and showTopLevelOpenCloseIcons change.

Please note the class ```qx.ui.tree.MyVirtualTree``` there.

If appropriate I'll create a PR for this (or @stahl-riesa ;-)

[2016-12-01 21:33] stahl-riesa commented on #9128
@level420 Just do it!

[2016-12-01 23:36] oetiker commented on #9128
looks good

[2016-12-02 07:06] level420 commented on #9182
One additional note:

Chrome 55 was released today and it seems that they decided to to retract the pointer event feature in the stable version 55.0.2883.75, while it is still there in the also today released 55.0.2883.75 beta from the beta channel.

This shows that in most cases it is better to use feature detection and not rely on browser version detection.

But we are prepared now, at least for

[2016-12-02 07:14] level420 commented on #9128
done: PR #9244

[2016-12-02 07:20] level420 commented on #9196
@petitben closing this for now. If you find some time to create a testcase, feel free to reopen.

[2016-12-02 07:20] #9196 closed

[2016-12-02 07:21] level420 commented on #9172
@stahl-riesa could you please revisit this issue? thank you!

[2016-12-02 07:24] level420 commented on #9148
@woprandi is this still an issue for you? and more important: if yes: could you please offer a PR for this?
thank you.

[2016-12-02 07:26] level420 commented on #9131
@stahl-riesa could you please review this issue? would be nice to have a PR for this.
Please report back here. Thank you.

[2016-12-02 08:37] level420 commented on #9068
@woprandi how is the state of this issue? Could we close this as PR #9088 was merged?

[2016-12-02 08:40] level420 commented on #9129
I'm not shure what the state of this issue is. I'm setting the ```waiting for feedback``` label.

[2016-12-02 12:31] derrell commented on #9172
Statics may not yet be defined at the time that the properties are defined. I think you can solve this problem with something like:

[code]

[2016-12-05 05:56] woprandi commented on #9068
@level42 Sorry I forgot to close this issue ! Closing...

[2016-12-05 05:56] #9068 closed

[2016-12-05 08:40] level420 commented on #9127
@stahl-riesa could you please revisit this issue and report back how we should continue? Thank you!
If you need the sorter functionality: It would be nice to have a PR for this.

[2016-12-05 08:43] level420 commented on #9120
@woprandi @oetiker could you please revisit this issue and report back? Thank you!

[2016-12-05 10:04] stahl-riesa commented on #9169
Still broken.

open: https://github.com/qooxdoo/qooxdoo
scroll down to: Contributing
last sentence:
"For more information see http://qooxdoo.org/community/contribution." This Links is broken!

[2016-12-05 10:19] stahl-riesa commented on #9127
Oh. Never noticed that and so never used! Close this topic please.

[2016-12-05 10:27] level420 commented on #9127
Closing as per user demand.
@stahl-riesa you could also have closed this issue, as you are the author.

[2016-12-05 10:27] #9127 closed

[2016-12-05 11:04] stahl-riesa commented on #9172
I will close it because of fixing it is not so important. Derrell showed I nice way to get around the problem.

[2016-12-05 11:04] #9172 closed

[2016-12-05 11:12] stahl-riesa commented on #9179
@cajus I could try to unify the pages main menu, if you like. I have got some time after christmas.

[2016-12-05 11:12] stahl-riesa commented on #9230
If @goldim does not fix it, I will look at that after christmas.

[2016-12-05 12:04] level420 commented on #9230
@stahl-riesa thank you for your offer.
@goldim please report back how we will continue with this issue. thank you.

[2016-12-05 12:24] Syrrius78 opened #9245 "Spinner Focus problem"
Hi all,
I think, there is a problem with Spinner object when we use the method '.focus()'.
The object seems to receive the focus but we can't use the keyboard in order to change the value.
(ok with tab key)

Example:
[code]

[2016-12-05 13:04] cajus commented on #9245
Added playground link: http://tinyurl.com/zkacv57

[2016-12-05 14:50] cajus commented on #9245
@Syrrius78, can you verify whether https://github.com/qooxdoo/qooxdoo/pull/9246 fixes your issue?

[2016-12-05 15:18] Syrrius78 commented on #9245
@cajus : Great! It's working fine now with the Spinner fix. Thanks a lot for your quick solution ^^.

[2016-12-05 15:19] cajus commented on #9245
Not yet merged. Will re-open it until it's merged.

[2016-12-06 06:34] #9128 closed

[2016-12-06 07:20] level420 commented on #9179
@stahl-riesa Shure! Your help is very welcome!

[2016-12-06 09:05] goldim commented on #9230
Sorry for my absence. I did not feel very well. Currently I am working on it. I let you know.

[2016-12-06 12:20] vvandens commented on #9182
Wow! you saved my day. Thanks!

[2016-12-06 12:26] level420 commented on #9182
@vvandens you're welcome!

[2016-12-06 14:24] vvandens commented on #9182
@level420 a side question : I try to cleanly patch an application that must stay on 5.0.1 release until next release is available. I simply copy-pasted the latest static method getMsPointer you fixed in one of the application class, then when the application starts, I call :
[code]
However, the bug is still there in the application.
Tested the devel demo browser and everything is fine there, so I

[2016-12-07 10:01] goldim commented on #9230
@level420 I tried to do something with transform method but without any success. I think I can not handle with issue. Sorry.

[2016-12-07 10:04] level420 commented on #9230
@stahl-riesa now back to your offer: could you have a look into this and (if possible) create a PR to solve this? Thank you.

[2016-12-07 10:46] stahl-riesa commented on #9230
I will look at this.

[2016-12-07 11:35] alp82 opened #9247 "Menu does not open in latest Chrome (55)"
After updating to the latest version of Chrome, the `qx.ui.menu.Menu` click listener does not seem to work anymore. Nothing happens and the menu items are not rendered.

System specs:
- Chrome 55.0.2883.75 m (64-bit)
- Windows 10
- Qooxdoo 5.0.1

Here is example code to reproduce this behavior:

            var menu = new qx.ui.menu.Menu();
            var item= new qx.ui.menu.Button("Menu Item");

[2016-12-07 11:40] level420 commented on #9247
@alp82 this was fixed in master via PR https://github.com/qooxdoo/qooxdoo/pull/9219

Please also note how @vvandens solved this issue with his qooxdoo 5.0.1 application:
https://github.com/qooxdoo/qooxdoo/issues/9182#issuecomment-265161921

Or you could use current master or patch your local copy manually using the code from https://github.com/qooxdoo/qooxdoo/pull/9219

Closing this as fixed

[2016-12-07 11:40] #9247 closed

[2016-12-07 12:39] alp82 commented on #9182
Thx vvandens for your workaround solution. I tried to use this method but menues are still not working. While debugging i saw that `qx.core.Environment.add` did nothing because the `_checks` array already contained the `event.mspointer` value.

I replaced the defer method with:
    defer: function (statics) {
        qx.core.Environment.invalidateCacheKey("event.mspointer");
        delete qx.core

[2016-12-07 13:08] level420 commented on #9182
@alp82 it seems that @vvandens solution managed to add the key function _before_ the original code is setting the key.

@vvandens could you help here? thank you!

[2016-12-08 12:35] #9135 closed

[2016-12-08 13:39] RemiHeugue opened #9249 "Wrong appearance for qx.ui.toolbar.SplitButton"
When using the theme Simple (or Indigo which inherit Simple) and you put a qx.ui.toolbar.SplitButton alone in a toolbar (or alone in a qx.ui.toolbar.Part) there is a gap between the left and right part of the button.

If you have more than one button in Part, there is no problem.

Playground example : http://tinyurl.com/z3nph3e

[2016-12-09 13:28] trupljan opened #9253 "Focus on object in window that is partially out of screen causes blink in IE."
Focus on object in window that is partially out of screen causes blink in IE on Windows 10.

Steps to reproduce:
1. Start Internet Explorer (tested on IE11)
2. Open: http://www.qooxdoo.org/current/demobrowser/#table~Table_Huge.html
3. Move window with table to the right-bottom corner so that only some cells are visible.
4. Click on a cell, then on another and so on, you should see it blinking each

[2016-12-09 15:28] trupljan commented on #9253
Not sure if focus() is really responsoble for this...

[2016-12-09 15:33] level420 commented on #9253
@trupljan I can reproduce this in the demo browser. But if I run http://www.qooxdoo.org/current/demobrowser/#table%7ETable_Huge.html and use the "run in own window" I cant' reproduce it any more.

So this may be due to the demobrowser itself being a qx.website app and running qx.desktop apps inside.

Can you reproduce this outside demobrowser?
I've tested this with a really complex widget stack in

[2016-12-09 17:50] level420 commented on #9253
Could reproduce this with the huge table demo when run in own window with IE 11.

May be related to https://github.com/qooxdoo/qooxdoo/commit/49a0b5859bcb844332f491e29f3fe5809ed5e26a

[2016-12-11 10:16] thron7 commented on #9129
@level420 Hi Dietrich, which kind of feedback are you looking for here?

I believe Rene has implemented his vision of Manifest.json (adding `add-script` and `add-css` keys), and maybe there is a corresponding PR somewhere. I made an alternative proposal to just add a single `library-config` key to Manifest.json which points to a stock generator config file, which could then hold `add-script` and `

[2016-12-11 10:54] eflowbeach commented on #9182
Not a permanent fix, but this override seemed to temporarily patch my 5.0.1 app:
[code]

This probably creates more problems than it fixes though.

[2016-12-11 20:04] pcdummy commented on #9129
@thron7 @level420

@johnspackman implemented add-css and add-script into qxcompiler, not sure what to do with this issue.

[2016-12-12 12:22] level420 commented on #9182
@eflowbeach you could add the following lines https://github.com/qooxdoo/qooxdoo/pull/9219/files to your local copy of qooxdoo.

[2016-12-13 04:01] eflowbeach commented on #9182
@level420 After I posted my comment, I realized that it was only a few lines of code. Thanks for the suggestion, it works like a charm now!

[2016-12-13 09:30] level420 opened #9254 "Possible script transport problems ahead with Chrome 56 and stop working qx.bom.request.Script and qx.io.remote.transport.Script"
Chrome will stop loading scripts for script tags with missing or invalid MIME type with version 56 (currently in beta).

See: https://www.chromestatus.com/feature/5760718284521472

Allowed MIME types are: https://html.spec.whatwg.org/multipage/scripting.html#javascript-mime-type

Both ```qx.bom.request.Script``` and ```qx.io.remote.transport.Script``` use dynamically created script tags which are

[2016-12-13 10:09] kreimer commented on #9254
Tested in Chrome Version 56.0.2924.21 beta (64-bit) (linux) the following code is working ok:

`            this._loaded = 1;
            var ol3Script = new qx.bom.request.Script();
            var thizz = this;
            ol3Script.onloadend = function() {
                thizz._loaded = 2;
                thizz._pendingCallbacks.forEach(function(callback, idx, callbacks) {

[2016-12-13 10:56] kreimer commented on #9254
I patched a copy of [https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/bom/request/Script.js#L662](https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/bom/request/Script.js#L662)

as following:

[code]
and it works ok  in Chrome Version 56.0.2924.21 beta (64-bit) (linux)
![screenshot from 2016-12-13 11-53-04 copy 2](https://cloud.githubusercontent.com/as

[2016-12-13 11:39] level420 commented on #9254
It seems that the default for the MIME type is "text/javascript" as per https://developer.mozilla.org/de/docs/Web/HTML/Element/script and answer here https://bugs.chromium.org/p/chromium/issues/detail?id=626321&desc=2#c18 .

So we _should_ be safe.

[2016-12-13 11:42] #9254 closed

[2016-12-13 15:57] #9245 closed

[2016-12-14 10:37] level420 commented on #9249
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9250

[2016-12-14 10:37] #9249 closed

[2016-12-15 08:00] vogelor commented on #9182
i am using Version 55.0.2883.87 m at windows 10 64 bit and the menu-button stopped working. After patching #9219 by hand, it works again! so thank you for your great job!

[2016-12-15 18:19] Syrrius78 opened #9256 "In IE11, a window field lose focus when browser window is resized"
I'm using qooxdoo 5.0.1  for a desktop application (use the standard theme 'qx.theme.modern').
In my application, I have a window with a field.
I want to relocate the window when the browser window is resized.
So I declared that :
[code]

It's working fine with Firefox but I have a problem with IE11.
When I resize my browser window, my field lose focus and my focus is outside the window:
![test](h

[2016-12-16 07:38] level420 commented on #9256
@Syrrius78 I could not reproduce the bug on the 5.0.1 playground with current IE11 on windows 7x86 with latest updates from yesterday: http://tinyurl.com/h5kfr9a

Are you sure that the bug shows up wit IE11 in playground?

[2016-12-16 08:55] Syrrius78 commented on #9256
@level420: Hi
That's what I said : "I test on your playground. It's working"
No error on IE11 with your playground.
But on my side, I created a standalone application with the framework 5.0.1 (same code), it's not working on IE11 (screenshot).
So It's strange.
That's why I'm asking if it's really a bug or if you have corrected something on your side/on the playground
(I can't see if it was correct

[2016-12-16 09:19] Syrrius78 commented on #9256
Ohhh .. I'm very sorry.
I created a new application that only do that. It's working fine on IE11.
But in my big application, it's not working at all
(The code is the same but maybe there is something that cause this problem in my big application).

I'll try to understand...
Sorry again

[2016-12-16 09:20] level420 commented on #9256
@Syrrius78 so you think this is not a bug in qooxdoo but in your application?

[2016-12-16 09:25] Syrrius78 commented on #9256
@level420 : It's very strange because no error message in the console and the window code is the same but it's integrated in a big application (working in the small app / not working in my big app).
Maybe there something that do this problem in my big app.
I'll try to have more information...

[2016-12-16 09:34] level420 commented on #9256
@Syrrius78 please report back here and if you don't think it is a bug in qooxdoo, please close this issue.
thank you.

[2016-12-16 10:17] Syrrius78 commented on #9256
@level420 ok, sorry for the inconvenience.
I've done a "distclean" on my big application and it's working perfectly now.
(Maybe something went wrong after doing "generate source" at least more than 100 times without cleaning the application).
Next time, I'll do that first ("distclean") before creating an Issue.
Have a good day.

[2016-12-16 10:17] #9256 closed

[2016-12-17 11:50] johnspackman opened #9258 "Binding to qx.data.controller.List.selection fires twice"
In this SO article http://stackoverflow.com/questions/41188199/converter-called-twice-with-list-controller, Adelise demonstrates that binding to `qx.data.controller.List.selection` causes the `converter` to be called twice.  This is arguably a bug but being able to add a `changeSelection` listener to objects, including `q.d.c.List`, is a long standing tradition in Qooxdoo and removing that extra e

[2016-12-19 12:06] cbsistem opened #9259 "QxBuilder.js"
helo
not found QxBuilder.js, exist QxBuilder.js ??

reference: https://sourceforge.net/p/qooxdoo/mailman/message/5588468/
tanks

[2016-12-19 14:14] johnspackman commented on #9259
No, that post will have been referring to a very early version of Qooxdoo (ie pre- v1.0 ).  Perhaps you could try explaining what you are trying to achieve either as a StackOverflow question (please remember to tag your question with "qooxdoo") and/or ask on Gitter https://gitter.im/qooxdoo/qooxdoo

[2016-12-19 14:14] #9259 closed

[2016-12-19 21:30] trupljan commented on #9148
I prefer to have base class explicitly declared, it is easier to show such code to someone who does know javascript but does not know qooxdoo.

[2016-12-19 21:54] trupljan commented on #9144
That behavior is correct and C++ is wrong. Actually what you described leads to need of two-phase constructor in C++ where you can't call virtual method in constructor as it won't call derived method because vtbl is not yet fully initialized...

To solve your problem with overriding, there could be an error in source version that you are overriding already defined method. There could be another fi

[2016-12-20 20:19] mappopo opened #9260 "Menu Google Chrome"
Menus do no work on Google Chrome.
See http://www.qooxdoo.org/current/demobrowser/#widget~Menu.html where click on "File" and " Edit" menu are not shown.
Same problem in http://www.qooxdoo.org/current/demobrowser/#widget~MenuBar.html.

[2016-12-20 20:22] mappopo commented on #9260
sorry, duplicate of 9182

[2016-12-20 20:37] #9260 closed

[2017-01-04 09:10] stahl-riesa commented on #9230
There are five mixins providing selection features:
- qx.ui.core.MMultiSelectionHandling
- qx.ui.core.MSingleSelectionHandling
- qx.ui.form.MModelSelection
- qx.ui.virtual.selection.MModel
- qx.data.controller.MSelection

qx.data.controller.MSelection and qx.ui.virtual.selection.MModel uses a public property, the other a private variable to save the selected items.

So what is the right way? Unifi

[2017-01-04 10:04] johnspackman commented on #9230
IMHO the best solution would be to use actual properties and use `transform` to implement it; this is because when you implement a property manually (like those mixins) they miss out on the new additions in the future (like Async properties https://github.com/qooxdoo/qooxdoo/pull/9232) and mean that reflection does not work (case in point, binding has to detect properties by looking for "getXxx" a

[2017-01-10 10:42] cajus opened #9264 "Support for template driven UI"
We've some mini engine here that supports building a UI from a JSON description. It's variable enough to allow model binding, custom properties, validations, etc. It is used for model items where we do not know how they should be rendered at build time. Additionally, they make the code more readable, because all these cascades of creating new Widgets are moved into a descriptive form of the JSON f

[2017-01-10 11:30] gnikolaidis commented on #9264
You might also want to have a look at http://www.qookery.org/

It is in active development and it supports projects with hundreds of forms (disclaimer: I work for the company that maintains it).

[2017-01-10 11:49] johnspackman commented on #9264
I think the danger here is that there is a *lot* of scope for different styles and mechanisms of UI design and layout, it's an enormous subject and the products I can think of where UI design has become a success, the UI design tool is an enforced part of the ecosystem - EG Visual Studio, Delphi Studio, etc.

Perhaps we should showcase some of the more useful 3rd party tools on the website as part

[2017-01-10 12:12] cajus commented on #9264
@gnikolaidis yes, I know qookery.

[2017-01-10 12:24] gnikolaidis commented on #9264
@johnspackman I agree with this approach. We could contribute an article for this proposed section.

[2017-01-14 15:14] petitben commented on #9264
@cajus Looking at the example you provided I have a feeling you do a lot of eval() right ? For instance, your 'tr()' calls etc... ? I think your proposition and qookery go in the right direction but there are things that must be simplified and other ones that must be improved.

When we take a look at other JS frameworks or the next branch the approach is similar for some features and very differen

[2017-01-14 19:04] cajus commented on #9264
@petitben no, we're not using eval. The tr related "calls" are hard coded and needed for things like plural, message extraction by the generator, etc. One reason not to choose qookery was XML. Other reasons where special requirements to model binding for a local project, so that we abstracted parts a bit more away.

To be not misunderstood: qookery is a good piece of software, it just didn't match

[2017-01-16 09:42] woprandi opened #9268 ""click" event no longer fired for a middle mouse button click on chrome 55"
Hi,

On this example : http://tinyurl.com/hpe2ugf on chrome (55), the "click" event is no longer fired with a middle or right click (only left). I think it's only since chrome 55 but I didn't test with a previous version. I tried with "tap" event but the behavior is the same. I noticed the recent 5.0.2 release but no changes
On Firefox, no issue.

[2017-01-17 09:24] level420 commented on #9268
@woprandi It seems that Firefox is the only browser which fires a right mouse button click (in windows and osx). Tested with Internet Explorer 11, current Edge, Opera 42, Firefox 50 on windows and Safari 10, Firefox 50 on osx.

Could not test middle mouse clicks, as my mouse has only a left and right button.

The documentation for the click event says that it should react on left and middle mouse

[2017-01-17 09:30] level420 commented on #9268
@woprandi as a workaround you could use the `mousedown` event.
See http://tinyurl.com/jln6ks2

http://www.qooxdoo.org/current/api/#qx.event.type.Mouse

[2017-01-17 12:07] woprandi commented on #9268
@level420 This code worked for a long time (for middle click). Chrome 55 release seems to be a good culprit. I don't know any other reason but I didn't check since it's not trivial to get a old chrome package

[2017-01-17 12:24] woprandi commented on #9268
@level420 I can confirm it WORKS with Chrome **53** (could not get a 54 release) and NOT on 55

[2017-01-17 12:42] level420 commented on #9268
@woprandi on which os are you?

[2017-01-17 13:42] woprandi commented on #9268
@level420 Linux

[2017-01-19 10:29] stahl-riesa commented on #9268
I have to confirm.  Same issue on Windows 7-64 with Chrome 55 (Opera). Middle and right button does not fire an click event.
My user agent string: Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36 OPR/42.0.2393.94

[2017-01-19 12:47] level420 commented on #9268
As of the documentation click should never be fired on right mouse click. On richt mouse click it should fire the contextmenu event.

@stahl-riesa How did you test middle mouse clicks? Do you have a three button mouse?

[2017-01-19 13:10] level420 commented on #9268
@woprandi @stahl-riesa could you please verify if middle mouse click is working in this jsfiddle?
http://jsfiddle.net/h4JXs/5070/

[2017-01-19 13:21] derrell commented on #9268
Linux / Chrome 54: I get an alert on left-click, nothing on middle-click, context menu on right-click.

[2017-01-19 13:43] level420 commented on #9268
Thank you @derrell

It indeed seems that chrome since v 55 does natively not fire a click event anymore on middle mouse button click. The new event name for that is ```auxclick```.

Clicks with the non primary button of a mouse is allways an ```auxclick```.

Read the original chrome announcement:
https://developers.google.com/web/updates/2016/10/auxclick

Firefox will follow in version 53.
http://

[2017-01-19 14:09] woprandi commented on #9268
@level420 No alert with middle-click

[2017-01-19 15:44] stahl-riesa commented on #9268
@level420 Nothing happens on clicking the middle mouse button / the mouse wheel.

[2017-01-19 16:10] level420 commented on #9268
@woprandi please test PR https://github.com/qooxdoo/qooxdoo/pull/9270 if it solves this issue.

[2017-01-20 08:52] level420 commented on #9230
@stahl-riesa do you think it is possible to fix only this issue, which means only solving the bug reported here? @johnspackman proposed a fix using the transform attribute here https://github.com/qooxdoo/qooxdoo/issues/9230#issuecomment-262454254

[2017-01-20 09:39] stahl-riesa commented on #9230
How about overriding the resetSelection method like that:

resetSelection : function(resetCurrentSelection)
{
  if( !!resetCurrentSelection )
  {
    this.getSelection().removeAll();
  } else {
    this.base(arguments);
  }
}

[2017-01-20 12:50] level420 opened #9271 "Align click and auxclick events between clients (browsers)"
Coming from issue #9268 and PR #9270 we will have both click and auxclick events available in qooxdoo.

Currently only opera and chrome support auxclick events (those clicks with the "non primary pointer button"), which means that they will not fire click events for middle and right mouse button clicks. Firefox will follow (presumably) with version 53.

See documentation here: https://github.com/q

[2017-01-21 20:56] tiandian opened #9272 "if isDisposed() is true, please not call renderLayout."
I create a class as below:
[code]

I want when the window is closed, throught call **that.dispose()** to remove window from the dom tree, but the error occurs in widgets's  renderLayout() function, because when the window is closing, it still will call renderLayout() the last time,
[code]

because **content is null** after window is disposed, so **content.setStyles will error**.

so, better let re

[2017-01-21 21:48] derrell commented on #9272
I'm not at my computer right now to verify the property name, but in git
(not yet released), there's a new property called something like
destroyOnClose which does what you want. You might consider using master,
or wait for upcoming release which will include it.

Derrell

On Sat, Jan 21, 2017, 3:56 PM tiandian <notifications@github.com> wrote:

[2017-01-21 23:40] tiandian commented on #9272
@derrell, i have test the devel version, everyting is ok.
thanks!

[2017-01-21 23:41] #9272 closed

[2017-01-22 15:21] tiandian opened #9273 "Can Button and Command has a ID property?"
I want do as below:

[code]
That is, all the buttons go to the same method, but now button/command has no ID property, how can i
distinguish the buttons.
thanks!

[2017-01-22 17:39] zaucker commented on #9273
Use getLabel()

Cheers,
Fritz

Sent from my iPhone

[2017-01-22 18:36] cajus commented on #9273
Label has the disadvantage that it may be translated. Normally you need to store the Button widgets for proper disposal. If you have done that, you can just compare with that object.

Another way can be *yourButton.setUserdata("id", "foobar")*. You can get the userdata via *getUserData("id")* back from the button object - which is not in *e* in your example btw.

[2017-01-22 18:40] cajus commented on #9273
Closing the issue, because it's more a Q&A. @tiandian, feel free to post it to stackoverflow if you think it requires more discussion ;-)

[2017-01-22 18:40] #9273 closed

[2017-01-23 05:18] paragasu opened #9274 "qx.util.format.DateFormat: auto jumping to next year value for dates 31/12/2018, 30/12/2019 & 31/12/2019"
How to reproduce
1. Go to http://tinyurl.com/grmt4j2
2. Select the date 30/12/2019 or 31/12/2019
3. Expected value is 30/12/2019 or 31/12/2019 but the value shown on the text field automatically become 30/12/2020 or 31/12/2020.

Another similar date that trigger the issue is 31/12/2018. The value will auto change to 31/12/2019.
So far only this 3 date - 31/12/2018, 30/12/2019 & 31/12/2019 has this

[2017-01-23 08:21] level420 commented on #9274
This issue is not limited to chrome. It's also present on firefox 51, internet explorer 11 and opera 42 (tested on windows7).
The simpliest code to reproduce is:
[code]

[2017-01-23 08:29] level420 commented on #9274
Another observation: the issue seems to be only present for the years 2018 and 2019, as @paragasu reported.

[2017-01-23 09:23] level420 commented on #9274
After staring a long time to the code, I finally got the solution:

This is not a bug, it works like intended as the format `YYYY` (uppercase y) retreives the "week year".

The correct format would be `yyyy` (lowercase y) which works as expected.

See the corrected playground sample:

http://tinyurl.com/ztmg6xs

Closing as invalid.

[2017-01-23 09:23] #9274 closed

[2017-01-23 09:31] level420 commented on #9274
See api documentation:
http://www.qooxdoo.org/devel/api/#qx.util.format.DateFormat
https://en.wikipedia.org/wiki/ISO_week_date

PHP-Related, but a good explanation
https://derickrethans.nl/iso-8601-weeks.html

[2017-01-24 07:58] tiandian commented on #9273
@cajus, thanks, i see.

[2017-01-24 11:10] cajus commented on #5974
The fix involved with this bug opens another bug:

If you've a child control consisting of a *qx.ui.form.Button* which is initialized with a *Command*, this control will never get the correct appearance until you call *updateAppearance* manually.

The problem is caused by the *Command* calling *syncAppearance()* _before_ the child control is completely created. That causes the widget appearance to

[2017-01-24 15:58] kreimer opened #9276 "Missing links to source code in apiviewer"
When using http://www.qooxdoo.org/current/api (current version shows 5.0.2), classes and methods are not linked to the sources in github. As I remeber up to version 5.0.1 they were linked.

[2017-01-25 07:16] level420 commented on #9276
@cajus do you have some time to have a look into this issue? Thank you.

[2017-01-25 15:34] jibesh opened #9277 "Including qooxdoo after sinon.js makes some properties undefined"
If I include qooxdoo after including sinon.js, I can no longer call _sinon.FakeXDomainRequest_

The order in which I include is as follows:
[code]

[2017-01-25 17:06] level420 commented on #9268
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9270

[2017-01-25 17:06] #9268 closed

[2017-01-26 09:00] cajus commented on #9277
What does "I can no longer call..." mean in detail? Do you have some example code?

[2017-01-26 09:41] jibesh commented on #9277
Sorry for not providing details. The following is what I mean:

When I include only _sinon.js_, the access path _sinon.FakeXDomainRequest_ points to a function. I am able to call the function.

But, if I include _qooxdoo_ after including _sinon.js_ (as shown by the snippet in my previous comment), sinon.FakeXDomainRequest now becomes undefined.

[code]
It seems, qooxdoo is overwriting the identifi

[2017-01-26 09:51] cajus commented on #9277
Qooxdoo includes sinon (1.9.1), so one idea would have been that this causes your observations. I'm not familiar with qx.web, so I've no idea whether it's included there or not.

Can you please try, *not* loading sinon and check if *sinon* is defined? If so, it is included and just overloads 1.15.x with an older version.

[2017-01-26 10:25] jibesh commented on #9277
I checked by not loading _sinon.js_ i.e., by only loading _qooxdoo_.
Yes, _sinon_ is defined but lacks the extra properties that newer version of _sinon.js_ has.

It means your observation is correct, _qooxdoo_

and will get fixed if  _sinon.js_ included in _qooxdoo_ is updated to a newer version.

[2017-01-26 10:28] cajus commented on #9277
Ok. Which means that you don't have to include it at all ;-)

I'll update sinon in the framework as soon as possible.

[2017-01-26 11:13] mef1stofel opened #9278 "Incorrect selection in lists and tables in YandexBrowser v17.1.1.266 (Chromium)"
Positioning on the list items occurs incorrectly in the browser. In this case, double-click is performed on the correct item in the list, but another element is highlighted.
If you open the developer console - everything works as it should.
You can see this in the following video:
https://youtu.be/CGY-9f4mC2M

[2017-01-26 12:27] level420 commented on #9278
Dies this only happen in the yandex browser, not in chrome?

Please create a playground example http://www.qooxdoo.org/devel/playground/ which shows the problem preferably in current chrome.

[2017-01-26 12:41] mef1stofel commented on #9278
In Chrome 55.0.2883.87 (64-bit) all works perfect!
Problem only in Yandex browser: on Linux (17.1.1.266 beta (64-bit)), on Windows (v. 17.1.0.2033).

[2017-01-26 13:10] level420 commented on #9278
Anyway: please create a playground sample which shows the problem in the yandex browser

[2017-01-26 13:18] mef1stofel commented on #9278
"Table" sample on palyground shows it:  http://tinyurl.com/hej49um
Moreover, the list of examples in the Yandex browser does not work properly! I can select one only with keyboard arrows.

[2017-01-27 09:22] level420 commented on #9278
I suspect that browser detection fails here which leads specific adaptions for chrome to fail.

Could you please start the playground http://www.qooxdoo.org/devel/playground/, open the developer console in the yandex browser and paste following commands there:

[code]
Please report the results back here.

[2017-01-27 09:26] level420 commented on #9182
Also fixed in release https://github.com/qooxdoo/qooxdoo/releases/tag/release_5_0_2

[2017-01-27 09:26] #9182 closed

[2017-01-27 09:27] mef1stofel commented on #9278
`qx.core.Environment.get("browser.version");
"55.0"
qx.core.Environment.get("browser.name");
"chrome"
qx.core.Environment.get("engine.version");
"537.36"
qx.core.Environment.get("engine.name");
"webkit"`

[2017-01-27 09:29] level420 commented on #9278
Thank you @mef1stofel
that is exactly the output when chrome 55 is running.

[2017-01-27 09:31] level420 commented on #9278
Another question: do you have zoom enabled in the browser?

[2017-01-27 09:33] mef1stofel commented on #9278
You mean page scaling? 100%. If not, how can i check it?

[2017-01-27 09:37] mef1stofel commented on #9278
Why opnened developer console fix this problem?

[2017-01-27 09:40] level420 commented on #9278
Yes I meant page scaling. 100% is ok.
Why opening the developer console fixes the problem? I've really no idea.

[2017-01-27 09:41] level420 commented on #9278
It would be helpfull if you run the source version of qooxdoo playground locally to check if there is any error in the console and report that here, or better, clone the qooxdoo repo and try to fix it via a PR.

[2017-01-27 09:56] mef1stofel commented on #9278
There is two problems while generating source:

/bin/sh: 1: sass: not found
  - Skipping shell command: It seems that Sass (http://sass-lang.com/) is not installed and/or executable, which is needed for the SCSS-compilation.

In console it is only ine missing css file, no other errors.
![_2017-01-27_12-53-24](https://cloud.githubusercontent.com/assets/3930855/22366900/f8e02f7c-e48f-11e6-8ff8-acb45

[2017-01-27 10:23] level420 commented on #9278
You need to install the sass compiler on your system.
But there are no error message in the console, besides the not unavailable css file.
So I'm out of clues!

[2017-01-27 10:27] mef1stofel commented on #9278
Done! generate source, refresh page. No changes ...

![_2017-01-27_13-25-56](https://cloud.githubusercontent.com/assets/3930855/22367764/4e73ca76-e494-11e6-8aed-653b0827f40c.png)

[2017-01-27 12:55] mef1stofel commented on #9278
Right button clik on row set focus on a right row.
Maybe I fix it:
when i disable some flag on page browser://flags - it start work good!

[2017-01-27 13:10] level420 commented on #9278
Please report back exactly for which flag set true or false it works or does not work.
Maybe the yandex browser has other defaults as the chrome browser.
And please use current master from github for your tests.
Thank you!

[2017-01-29 22:15] tiandian opened #9280 "sometimes setShowCellFocusIndicator(false) will invalid"
after call Table.setShowCellFocusIndicator(false),
when double click a editable cell to active the editing state, then use the ESC key  to escape the editing state, the Cell Focus Indicator will show, and then when use mouse single click or use the Up/Down key to select the other editable cell, the Cell Focus Indicator will still show too.

please see http://tinyurl.com/z2avss2

thanks!

[2017-01-29 22:47] tiandian opened #9281 "when click the table's editing cell's up/bottom 1px border, the cell's state is not right."
e.g http://www.qooxdoo.org/5.0.2/playground/#Table-ria
steps:
1. double clike a cell in the "A number" column, then the cell will be in editing state, and there is a 1px border around the cell.
2. slowly move the mouse pointer just on the up 1px border, the mouse pointer will restore to the mormal arrow state, then click the left mouse button, then the up row cell will be selected, but the buttom

[2017-01-30 08:15] mef1stofel commented on #9278
There is no problems if #enable-pointer-events flag is False.
I chek on current master: if the flag #enable-pointer-events is "True" or "Default"- selection in lists and tables is wrong (in Yandex Browser).

If you set #enable-pointer-events flag to "True" or "False", or "Default" in Google chrome - it still works, and no problems with selection like in Yandex Browser.
I wrote a Ticket #1701261658

[2017-01-31 07:49] mef1stofel commented on #9278
@level420 can I close this issue?

[2017-01-31 12:36] level420 commented on #9278
@mef1stofel if you think this is not qooxdoos fault, then close this issue. Thank you.
But please, even if it is closed, report back the feedbak of the yandex guys.

[2017-01-31 13:10] level420 commented on #9276
As a workarround you could use the devel api viewer, which is available under http://www.qooxdoo.org/devel/api/#qx

[2017-02-01 16:20] level420 commented on #9281
Tested and confirmed on Chrome 56, windows 7 x64

[2017-02-02 11:58] jonimnim commented on #9278
The answer is that anything with Yandex?

[2017-02-02 15:06] lepokle opened #9283 "Native pointer events are not sent to qooxdoo preventing swiping on elements on Chrome, platform Android"
Qooxdoo supports native pointer events. However the browser has a default handling for some actions like swiping.
If the browser supports native pointer events (like Chrome 55 on Android) qooxdoo listens to these pointer events to send own track or swipe events.
On the other hand Chrome has a default action for swiping. This results in only about three pointer events for qooxdoo: pointerdown, poin

[2017-02-02 17:35] tiandian opened #9285 "qooxdoo doesn't support es6?"
e.g:
```let a = 1;```
add above es6 code in main, then run "python generate.py source", will show below error:

[code]

thanks!

[2017-02-09 13:45] level420 commented on #9285
@tiandian yes, the python generator ( `generate.py` ) does not support es6. There are some good efforts replacing the python generator by a js based tool qxcompiler which is a contribution by @johnspackman
Please visit https://github.com/johnspackman/qxcompiler

[2017-02-09 13:47] level420 commented on #9285
@thron7 could we do something to get es6 compatibility into qooxdoo? Thank you in advance.

[2017-02-09 13:48] cajus commented on #9285
@level420 I don't think that this is a quickie. It would be nice to have something like it, though.

[2017-02-09 13:52] level420 commented on #9285
@cajus yes, we may in the end have to wait for qxcompiler for that. But it costs nothing to ask ;-)

[2017-02-09 21:14] thron7 commented on #9285
@level420 I had a look at a list of es6 features, as I'm not familiar with them.

I think a lot can be achieved if all that you want is an "accepting" parser, a parser that recognizes es6 syntax as valid and integrates it into the parse tree. Semantic support would be much more effort (like checking that a 'const' is not assigned to again, evaluating an interpolated string, etc.). But accepting is

[2017-02-10 00:03] tiandian commented on #9285
Is it possible to compile qooxdoo to a signle javascript file eg. qooxdoo.js?
then i use qooxdoo.js as below in html:
[code]

then i can use both qooxdoo framework and use es6 too.
because now i needn't use python after compile qooxdoo to a signle javascript file.

thank!

[2017-02-10 07:55] level420 commented on #9285
@thron7 thank you for your detailed elaborations. Reading that, I don't think that it is worth the enormous effort. I think that @johnspackman s qxcompiler is the way to go for es6 as it does tranpiliation via babel.

[2017-02-10 07:56] level420 commented on #9285
@taindin thank you for your last question in comment https://github.com/qooxdoo/qooxdoo/issues/9285#issuecomment-278817125. Please re-ask your question on stackoverlow and tag it with qooxdoo, as I think this is out of the issues scope, but may be of interest for others using qooxdoo with es6. Thank you.

Closing this issue now.

[2017-02-10 07:56] #9285 closed

[2017-02-10 08:27] level420 commented on #9283
@lepokle which qooxdoo version do you use? And which part? qooxdoo mobile or desktop? Did you note the fix for chrome 55 in https://github.com/qooxdoo/qooxdoo/pull/9219 ?

[2017-02-10 08:31] level420 commented on #9278
Closing this issue for now. Please feel free to reopen if you think we can do something in qooxdoo to solve the problem. Of course best if you could offer a pull request ;-)

[2017-02-10 08:31] #9278 closed

[2017-02-10 09:29] lepokle commented on #9283
Hi @level420,
we used qooxdoo  5.0.2 mobile but are now on master. As far as I understood this has nothing to do with #9219. It is just about how the browser works with pointer events.

Chrome tries to handle swiping on his own therefore he sends a cancel event even if the user is still swiping. This can be avoided by setting the correct touch-action as noted above.

Please also have a look at the

[2017-02-11 19:28] lepokle commented on #9283
Note that it could be a problem on all browsers supoorting pointer events.

[2017-02-13 07:53] level420 commented on #9283
@lepokle It seems that you already digged deeper into this subject. Could the solution be to add `touch-action: none` on pointer down event (and remove it on pointer up) for the questionable element or is this to late?
It would be great if you could help us here, optimally by offering a pull request to fix this ;-)
Thank you.

[2017-02-13 08:02] level420 commented on #9230
@stahl-riesa could you please create a PR for this? As I've not the use case here it would be best if your or @goldim check your proposal. A PR would be good, as the concrete changes could be evaluated best there. Thank you.

[2017-02-13 13:23] Plasmodino opened #9289 "Chrome: Dragging items causes focusing and marking text in textfields and textareas"
While dragging items in Chrome over textfields and textareas they are focused and the text they contain is marked.

An example of this effect can be found here:
http://tinyurl.com/hk5odmz

[2017-02-13 13:26] level420 commented on #9289
This seems to be an old chrome bug.
See https://bugs.chromium.org/p/chromium/issues/detail?id=376767

We also already had an issue in qooxdoo for this: qooxdoo/qooxdoo#7766

See also http://stackoverflow.com/questions/25760841/css-user-select-none-causes-focus-event-on-drag-in-google-chrome

and check the simplified example here: http://jsfiddle.net/kdrz4r0p/1/

[2017-02-13 13:36] level420 commented on #9289
As a workaround you could add the style `pointer-events: none;` on dragstart to the element of the textarea or input field and remove it on dragend or dragcancel.

As for now I don't know if this is solvable generally via qooxdoo.

[2017-02-13 13:51] level420 commented on #9289
Here is a playground sample showing the workaround: http://tinyurl.com/hk5odmz
Please not the two added listeners at the bottom of the code.

[2017-02-13 18:14] Plasmodino commented on #9289
I modified the workaround by replacing the listeners by

  var hidden = new qx.ui.form.TextField();
  hidden.set({
    width: 0,
    height: 0,
    decorator: null,
    zIndex: -1
  });
  container.add(hidden, {left: 0, top:0});

and added

hidden.focus();

to the dragstart listener, which fixes the problem.

[2017-02-14 09:19] level420 commented on #9289
@Plasmodino please create a playground sample which shows your solution. This would be very helpful for those having the same issue. Thank you.

[2017-02-14 09:24] level420 commented on #9289
@Plasmodino it may also work if you add the hidden textfield to the applications root with "off view" positions like `{left:-1000,top:-1000}`.

[2017-02-14 13:18] stahl-riesa commented on #9230
I think, the best solution is to introduce a additional property _useSimpleSelectionHandling_  with a initial value of _false_. If _useSimpleSelectionHandling_  is _true_ then the _selection_ property will only be changed instead of replaced. If you support this, i'll prepare a PR this week.

[2017-02-14 13:53] johnspackman commented on #9230
I don't agree - the selection property should always be changed, never replaced - this is the convention elsewhere in UI components  - eg anything that includes `qx.ui.core.MMultiSelectionHandling` or `qx.ui.core.MSingleSelectionHandling`, which is pretty much every widget in qx.ui.form.* that supports selection.

This behaviour is insanely useful, otherwise you have to watch for changes to the se

[2017-02-14 14:33] RemiHeugue opened #9290 "Unable to add native Objects in qx.util.fsm.FiniteStateMachine"
The documentation states that we can call [qx.util.fsm.FiniteStateMachine#addObject](http://www.qooxdoo.org/devel/api/#qx.util.fsm.FiniteStateMachine~addObject!method_public) with a native object which is impossible because internally it call [obj.toHashCode()](https://github.com/qooxdoo/qooxdoo/blob/69cf8b0/framework/source/class/qx/util/fsm/FiniteStateMachine.js#L376) which doesn't exists on nat

[2017-02-14 14:54] derrell commented on #9290
I think two things are wrong here. Firstly, there was never any intention that a _native_ object be stored there. As opposed to "typically a widget" would be something that descends from `qx.core.Object`. So the documentation should be changed to say that the `obj` parameter is type `qx.core.Object`.

Given the above, it used to work. The recent changes to not have all objects have hash codes in t

[2017-02-14 15:12] RemiHeugue commented on #9290
I'm not sure I understand well.
It still work correctly with qx.core.Object because while they aren't stored in the ObjectRegistry anymore, they still have a hash code, which is generated by the ObjectRegistry. There is no problem here.

ObjectRegistry.toHashCode doesn't, and has never registered objects into the registry. What I was trying to say is that since we can use this on native objects to

[2017-02-14 15:17] derrell commented on #9290
Correct. It was never an intended behavior to support native objects there, so in any case, the documentation should be corrected so it says that `obj` is `qx.core.Object`. Then again, if you have a need for native objects to be supported there, and want to provide a PR that makes that possible, I'm open to it.

[2017-02-20 13:59] level420 commented on #9290
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9291

[2017-02-20 13:59] #9290 closed

[2017-02-28 03:22] zmughal commented on #214
Should this be closed with the merge of <https://github.com/qooxdoo/qooxdoo/pull/9232>?

[2017-02-28 08:11] level420 commented on #214
@zmughal yes, thank you.
Fixed via #9232

[2017-02-28 08:11] #214 closed

[2017-03-02 18:06] hkollmann opened #9293 "generate pretty removes "finally""
if you have a block of Code like
[code]
and run generate pretty this block is transformed into

[code]
This is wrong JavaScript Code!

[2017-03-03 08:00] level420 commented on #9293
@hkollmann what about `gernerate.py build` does it leave the `try ... catch ... finally``` statement intact?

[2017-03-03 08:04] hkollmann commented on #9293
generate build leaves the 'try... catch ... finally' intact.

[2017-03-03 08:11] hkollmann commented on #9293
Steps to reproduce in Framework:

open qooxdoo/Framework Folder
run `generate.py pretty-test'
open source/class/qx/core/Asser.js and have look at line 310. The finally is gone

[2017-03-03 08:36] cajus opened #9294 "Add possibility to disable promises in build"
For applications that need to look at the memory they consume or the data that needs to be transferrerd, it would be nice to have some *qx.promises* flag to disable their inclusion. If there's a way to detect the use of pomises (i.e. directly or thry async properties), an automatic detection would be even nicer (maybe in post *generator* times).

[2017-03-07 13:07] johannes-nivus commented on #9283
I think the problem is visible on mobile picker:
The picker doesn't snap to an item because the trackend event isn't fired.
This is reproducible with mobile showcase on android chrome.

[2017-03-08 21:21] Plasmodino opened #9296 "qx.ui,table.pane.Scroller#onTableModelDataChanged: ScrollBarMaximum is calculated after rendering the table pane"
this.__tablePane.onTableModelDataChanged(firstRow, lastRow, firstColumn, lastColumn);
      var rowCount = this.getTable().getTableModel().getRowCount();

      if (rowCount != this.__lastRowCount)
      {
        this.updateVerScrollBarMaximum();

        if (this.getFocusedRow() >= rowCount)
        {
          if (rowCount == 0) {
            this.setFocusedCell(null, null);
          } else {

[2017-03-09 00:34] derrell commented on #9293
@hkollmann It appears in tool/pylib/ecmascript/frontend/treegenerator_3.py that _finally_ is being handled, but in the backend where it formats it in tool/pylib/ecmascript/backend/formatter_3.py, _finally_ seems not to be handled. I am taking a SWAG (scientific wild-ass guess) that if you add _finally_ to the list on line 129, it just may start to work. Try changing this:
[code]

to this:

[code]

[2017-03-09 08:01] level420 commented on #9296
@Plasmodino thank you for the bug report.
It would be good (if this is possible) to have a playground sample showing the bug, and of course, even better, a pull request which solves the bug. Thank you.

[2017-03-09 08:33] hkollmann commented on #9293
You are the greatest!

[2017-03-10 13:59] level420 commented on #9293
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9297
closing

[2017-03-10 13:59] #9293 closed

[2017-03-14 12:26] firewave opened #9298 ""Attempt to set a forbidden header was denied: Referer" warning with Firefox"
qx.io.remote.Request.send() tries to set the "Referer" header which triggers a warning in the JavaScript console in Firefox.
There was issue #1214 regarding the same message in Safari including some discussion about this behavior.

I am using Firefox 52 64-bit on Windows 10 and qooxdoo 5.0.2.

[2017-03-14 13:02] trupljan commented on #9253
I was able to partialy solve the problem by disabling usage of widow.requestAnimationFrame by adding this code to main method of application (this is a hack!):

        qx.bom.AnimationFrame.request = function(callback, context) {
          var cb = function() {
            callback.call(context, Date.now());
          };
          return window.setTimeout(function() {
            cb();

[2017-03-15 08:16] trupljan commented on #9253
My fix does not work at all, if debugging in chrome I can see the window "blink" during stepping. It seems that window is moved temporarily so that it's bottom-right corner is in the bottom-right corner of a browser and then later it is moved back so that it's bottom-right corner is outside screen.

In chrome it happens so fast that it is not visible. Also it is not table widget related, it happen

[2017-03-15 15:28] level420 commented on #9298
@firewave thank you for reporting this issue. Do you know which firefox version startet to complain about this?

As per https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name it seems that setting the referer programmatically is forbidden.

The code which tries this is here: https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/io/remote/transport/XmlHttp.js#L34

[2017-03-15 15:38] level420 commented on #9298
Here is a fiddle which tries to set the referer in the xhr header: http://jsfiddle.net/patridge/h4Lvp/
 It fails on current chrome and firefox and will presumably fail on safari.

It still may succeed on IE 11, but the question is if we still want to have this non-conforming code in.

I'd propose to remove https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/io/remote/transport

[2017-03-15 15:45] level420 commented on #9298
Created PR https://github.com/qooxdoo/qooxdoo/pull/9299

[2017-03-16 21:12] thron7 commented on #9293
Here is a bit of background, so maybe the whole story will become clearer.

### 1. Frontend - Transform - Backend
You probably already realized that the source code touching part of the Generator is organized in three parts, frontend, transform and backend. The idea is simply that the frontend parses source code into a syntax tree, transform transforms (or analyzes) the trees, and the backend writ

[2017-03-17 13:18] firewave opened #9300 ""Use of Mutation Events is deprecated. Use MutationObserver instead." warning in Firefox"
I am not really sure which widget this actually triggers this, but it somehow originates from inside of the qooxdoo framework  and not the application code (possibly qx.ui.embed.Iframe related?).
I see at least two mutation events in the Firefox debugger - one "DOMContentLoaded" and "DOMNodeInserted" (this seems to trigger the warning) both on something in qooxdoo-5.0.2-sdk/framework/source/class/

[2017-03-17 13:22] firewave opened #9301 ""[Violation] Added non-passive event listener to a scroll-blocking 'wheel' event. Consider marking event handler as 'passive' to make the page more responsive." verbose message in Chrome"
When changing the console in Chrome to verbose it will display this message. It originates from qx.event.handler.Mouse._initWheelObserver().

I am using qooxdoo 5.0.2 with Chrome 58 beta and 59 canary 64-bit on Windows 10.

[2017-03-17 14:05] johnspackman commented on #9301
Passive events require that the event is guaranteed to not call `preventDefault()` on the event, but `qx.event.handler.Mouse` will use this event handler to fire the `mousewheel` event - this is a generic event and can be trapped by any application code; because the framework is not able to know in advance whether the application will choose to call `preventDefault()`, we don't know whether using

[2017-03-17 14:16] level420 commented on #9294
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9295

[2017-03-17 14:16] #9294 closed

[2017-03-17 14:51] level420 commented on #9301
@firewave Did you try what happens with your application if you set the passive flag to the mouse wheel event listener? Does it work as expected? This would be very interesting. Please report back.

[2017-03-17 15:01] level420 commented on #9301
@johnspackman Interresting SO article [2] on using `requestIdleCallback` instead of `requestAnimationFrame`. It would be wort a try on how qoodoo behaves if we change to `requestIdleCallback`. https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/bom/client/CssAnimation.js#L198-L213

[2017-03-17 15:26] johnspackman commented on #9301
Yes, I think you might be right 👍   I just read [3] which gives a better rationale as to why to support it.

It's an interesting question as to how often an app would want to prevent the scroll event from being handled; if scroll events are passive by default, we would be able to detect `preventDefault()` on passive events and alert the developer to the environment setting.

[3] https://github.com

[2017-03-17 15:53] level420 commented on #9301
Additional article related to `requestIdleCallback`: https://developers.google.com/web/updates/2015/08/using-requestidlecallback

[2017-03-20 08:54] level420 commented on #9301
@firewave I don't think we currently are able to change the architecture of qooxdoo to use passive event listeners in an automatic way, as qooxdoo attaches listeners to most events and "en-queues" them into qooxdoo's own event handling. As @johnspackman said we are not able to predict from within the framework if an application will call `preventDefault`.

As an option we may enhance the build sys

[2017-03-20 08:56] level420 commented on #9301
@firewave Could you please explain where you would need passive event listeners and how your qooxdoo application benefits from this? Thank you.

[2017-03-20 09:44] firewave commented on #9301
I don't need these at all. There verbose messages are generated by the framework when the result of qx.bom.client.Event.getMouseWheel() is passed to qx.bom.Event.addNativeListener() in qx.event.handler.Mouse._initWheelObserver().

I am also seeing the messages "[Violation] 'setTimeout' handler took x ms" and "[Violation] 'requestAnimationFrame' handler took x ms" (from application and framework co

[2017-03-20 10:42] johnspackman commented on #9301
I've created a branch at [1] which adds debug-only tests - it will issue warnings if the event is `preventDefault()`-ed or if the time taken for the event is over 100ms (and an error message if it is over 500ms).  In theory, if enough people use this without getting warnings about `preventDefault()` we would have some comfort that adding passive events would be acceptable (at least in the general

[2017-03-20 11:50] level420 commented on #9300
See https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver

It could be that DOM-Events will be deprecated in the future.

[2017-03-20 20:52] lepokle commented on #9283
@level420 I'll try. We used the following fix in our project at the moment but I'm not able to see possible side effects at this time. I've to investigate a little bit more :-(
`
:not(.scoll):not(.native) {
        touch-action: pan-y;
    }
`

[2017-03-21 08:15] level420 commented on #9283
@lepokle thank you for your efforts!

[2017-03-21 08:17] #9298 closed

[2017-03-21 12:28] rstmm opened #9302 "Bad table widget performance -> solution included"
Hi,

I can't spend the time to prepare a pull request, but I wanted to share a solution to improve the table widget performance of qx desktop. The solution has been tested on 5.0.1 and avoids modifying framework files as good as possible.

The problem is, that tables with many columns are locking up browser a long time when the model is initially set. E.g. with 78 columns (yes real world example s

[2017-03-21 13:19] vvandens opened #9303 "Improve mouse wheel normalization code to adjust scrolling sensitivity across browsers"
This issue has been exposed on [Stackoverflow](http://stackoverflow.com/questions/42872306/adjusting-qooxdoo-scrolling-speed-sensitivity) with the premise of a solution by @level420 :

I'm wondering if it is possible to adjust the scrolling sensitivity in qooxdoo applications using qx.ui.container.Scroll or any internally scrollable components, e.g. qx.ui.table.Table.

What I'm experiencing on my

[2017-03-21 20:25] level420 commented on #9303
@vvandens thank you for creating this issue.

The following thread in the apple forum gives some additional information https://discussions.apple.com/thread/7679256?start=0&tstart=0

[2017-03-22 07:31] level420 commented on #9303
@vvandens could you please verify if the following hint solves this?
https://discussions.apple.com/message/30700725#30700725

Just to be sure it's not the problem described in that thread.
Thank you.

[2017-03-22 07:58] level420 commented on #9302
@rstmm thank you for opening this issue.

The table widget has a big performance issue if when adding column header renderers. I wrote a stackoverflow answer (http://stackoverflow.com/questions/40679293/qooxdoo-table-tooltips-performance/40767775#40767775) about that which targets the same problem, but your solution seems to be better! Here is my solution.

As you investigated a lot into this issu

[2017-03-22 10:32] vvandens commented on #9303
@level420 Unfortunately, it doesn't solve anything. I'll take some time to play with the code and see how it goes.

[2017-03-22 13:29] vvandens commented on #9303
I've taken a quick look to the code. My (little) understanding of the problem is that the way `WheelEvent`s are handled cannot be directly applied to the MacBook Pro trackpad events. Don't know however if the same problem arise on other hardware/os.

After some debugging, I found that the constant `qx.event.handler.GestureCore.ROLL_FACTOR`, that is hardcoded to `18`, is used to determine the numbe

[2017-03-22 14:02] johnspackman commented on #9303
@vvandens good detective work 👍

It looks like a common problem; I've found this SO post [1] which has a way to differentiate, not ideal but it might help

[1] http://stackoverflow.com/a/31191250

[2017-03-22 14:36] vvandens commented on #9303
Thanks @johnspackman . We could end up with such a solution as described in SO, but I would prefer to stick with [`deltaMode`](https://developer.mozilla.org/en-US/docs/Web/API/WheelEvent/deltaMode) switching if it is enough.
However, I don't know how to check that all real mouse wheels will generate an event with deltaMode=DOM_DELTA_LINE and all trackpads with deltaMode=DOM_DELTA_PIXEL, although t

[2017-03-22 15:44] vvandens commented on #9303
Forget it... It just doesn't work. My eyes lied. Both wheel and trackpad generate events with deltaMode=DOM_DELTA_PIXEL, at least on Mac OS. So I think we have to dig the SO solution.

However, I must admit that I'm a little lost as what is the best place to put this type of code into the qooxdoo framework... Maybe simply in the `qx.event.handler.GestureCore._fireRoll` method ?

[2017-03-22 16:31] level420 commented on #9303
@vvandens I think it would be best if the changes happen here : https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/util/Wheel.js

`qx.event.handler.GestureCore._fireRoll` calls in first place `qx.util.Wheel.getDelta(domEvent, "x")`

But it may be that we have to change the static `qx.event.handler.GestureCore.ROLL_FACTOR` to something dynamic.

[2017-03-22 16:56] level420 commented on #9303
my favorite would be `qx.util.Wheel.__recalculateMultiplicator`.

If you need distinguish between the operating system and the os version, you'll get it via `qx.core.Environment.get("os.name")` and ``qx.core.Environment.get("os.version")` which deliver `osx` and `10.12`. This works on safari, chrome and firefox.

[2017-03-22 17:50] vvandens commented on #9303
@level420 OK. However, the SO code seems to be a one-time detection code, i.e. once it has determined that the device is a trackpad, it doesn't change anymore as shown in this [JSFiddle](https://jsfiddle.net/ucLe3hLa/1/).
Do we want this behavior or do we want a more dynamic one, where the user can switch between the mouse and the trackpad and the scroll sensitivity adapts dynamically ?

[2017-03-22 19:41] vvandens commented on #9303
I've come up with the following [pull request](https://github.com/qooxdoo/qooxdoo/pull/9304). Unfortunately, since the detection must happen before the event is actually fired, I had to implement it in the `qx.event.handler.GestureCore._fireRoll` method. The idea is to accumulate the count of events in order to detect if they come from a trackpad before actually delivering them to the application.

[2017-03-23 09:30] johnspackman opened #9305 "Website: Community link(s) broken"
In the footer of the main page, the "Community" heading links to http://www.qooxdoo.org/community.html which does not exist.

It's also been reported by @JosKar that the link http://www.qooxdoo.org/community/contribution isn't working, but I don't know where yet - @JosKar please could you update this issue with more information?

[2017-03-23 10:06] JosKar commented on #9305
You can find the link in the readme.rst in the contributing section
https://github.com/qooxdoo/qooxdoo/blob/master/readme.rst#contributing

[2017-03-25 08:36] vvandens commented on #9303
I've just submitted a [new PR](https://github.com/qooxdoo/qooxdoo/pull/9306) to solve the issue. Waiting for your tests and comments.

[2017-03-29 10:28] mever commented on #9302
Hi,

The main reason why performance is bad is because the table listens to changes on the table-column-model (TCM). This is fine when changing the width (or other property) of a single column, but not when constructing the table for the first time. I have fixed it by configuring the TCM first and then construct the table. Not the other way around (this still needs some hacks though). I share how

[2017-03-29 13:31] oetiker commented on #9302
@mever is your extended table object backward compatible? in that case it would be great if you made it a PR for qooxdoo proper instead of releasing it separately.

[2017-03-29 16:04] mever commented on #9302
@oetiker I had to subclass the basic column model and overwrite the init method. As you can see, it doesn't call the base method if a table is given (this is what other classes except my own do). My code calls the init method with the column count and without second argument to initialize the TCM.

The rest is backwards compatible.

This is the entire subclass:
[code]

[2017-03-31 09:25] mever commented on #9302
I did some further research and made this playground example to demonstrate the problem: [link to playground](http://www.qooxdoo.org/devel/playground/#%7B%22code%22%3A%22var%2520button1%2520%253D%2520new%2520qx.ui.form.Button(%2522First%2520Button%2522%252C%2520%2522icon%252F22%252Fapps%252Finternet-web-browser.png%2522)%253B%250Avar%2520check%2520%253D%2520new%2520qx.ui.form.CheckBox(%2522Slow%25

[2017-04-03 07:38] hkollmann opened #9308 "travis can not run chrome unstable job"
The travis check system can not start the Chrome unstable job anymore:

[code]

[2017-04-03 09:09] cajus commented on #9308
I guess the chrome worker got incompatible with recent chrome-dev builds.

[2017-04-03 11:16] level420 commented on #9308
@hkollmann thank you for creating this issue

@cajus could you have a look into this? Thank you.

[2017-04-03 11:18] cajus commented on #9308
@level420 dealing with travis build errors takes hours. I don't think that I've a realistic chance to deal with that within the next days.

[2017-04-03 12:28] oetiker commented on #9308
https://github.com/karma-runner/karma-chrome-launcher/issues/83

[2017-04-03 21:16] Plasmodino opened #9309 "Table: When creating meta columns, all the widths of the scrollers but the last one are calculated wrong"
In Scroller.js the PaneWidth is calculated so:

			setPaneWidth: function (width) {
				if (this.isVerticalScrollBarVisible()) {
					width += this.getPaneInsetRight();
				}
				this.setWidth(width);
			},
This happens for all the scroller widths in Table.js:

    _updateScrollerWidths : function()
    {
      // Give all scrollers except for the last one the wanted width
      // (The last one h

[2017-04-04 13:22] Plasmodino commented on #9302
Not only the header is affected. Whenever the width of a column is set, the content of the table is redrawn twice. If data is already loaded and you initially set the width of 129 columns at once like in my case, the pane content is redrawn more than 260 times. There seems to be no way to set all the widths in one call and redraw the panes afterwards once.

[2017-04-05 09:05] lepokle opened #9310 "Locale is not correctly detected at least on Android >= 4.4.x"
There is some workaround code in qx.bom.client.Locale which tries to read the locale from the user agent string in case of android.
However the bug (http://code.google.com/p/android/issues/detail?id=4641) seems to be fixed at least in 4.4.x.
Therefore the locale can be read from navigator.language for these versions.

[2017-04-07 06:54] level420 commented on #9308
@oetiker, @cajus as a temporary workaround: couldn't we just disable the chrome unstable testrun?

[2017-04-07 13:49] level420 commented on #9303
Fixed via #9306

[2017-04-07 13:49] #9303 closed

[2017-04-11 10:38] level420 commented on #9310
Fixed via #9311

[2017-04-11 10:38] #9310 closed

[2017-04-11 12:37] schnepe2 opened #9313 "Conflicting property method qx.ui.table.columnmenu.MenuItem.isVisible with qx.ui.core.Widget"
With the current (master) build, using a table the following warning is logged:
`Conflicting property method qx.ui.table.columnmenu.MenuItem.isVisible with qx.ui.core.Widget`

The auto generated isVisible() method of the `qx.ui.table.columnmenu.MenuItem`s `visible` property triggers this.

So either the changes of commit 51a8c2261eef5feab112e6ba4e5d07e702ddc4d5 need to be changed,
or the name of `

[2017-04-12 11:53] schnepe2 commented on #9309
Hi @Plasmodino,
I've tried to understand what the problem is, but I can't figure it out.
I've created a playground example that uses (a) the original table and (b) your proposed fix.
But I can't see any difference :man_shrugging:

http://tinyurl.com/kphwgej

The changed playground `FixedTable` Class looks weird, but as we can't access private members in an overridden `_applyMetaColumnCounts` metho

[2017-04-12 12:13] level420 commented on #9309
@schnepe2 thank you for looking into this. :+1:

[2017-04-18 12:29] schnepe2 commented on #9300
Can someone make a test case for this issue?
It seems that the work-around that has been added (for old [Bug 2756](https://github.com/qooxdoo/qooxdoo/commit/0975a69aadfaca68ed2ae6be2e978085666030a8) rsp. issue #2887)
should also be applied for current Chrome[1].
At least when the scenario is like the one described in #2887

[1] Version 57.0.2987.133 (64-bit)

[2017-04-18 12:51] schnepe2 commented on #9300
By the way: The original issue was, that "relocating" the iframe into another container did not re-render a changed source-URL:
[code]
...but isn't that something that shouldn't be done?

[2017-04-19 08:40] schnepe2 commented on #9300
I've integrated tests into the PR ( #9314 ) as @oetiker suggested.

[2017-04-19 09:20] level420 commented on #9313
@schnepe2 I think it is not the fault of PR https://github.com/qooxdoo/qooxdoo/pull/9232 here, because this PR only reveals that we have a conflict here. The solution would be to change the implementation of `qx.ui.table.columnmenu.MenuItem`

https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/ui/table/columnmenu/MenuItem.js#L32-L38

[2017-04-19 09:22] level420 commented on #9308
@cajus disabled travis for chrome unstable builds with https://github.com/qooxdoo/qooxdoo/commit/297504f585deb3c2faa12a792644366c4a91d57b

[2017-04-19 09:45] schnepe2 commented on #9313
I agree, unfortunately we have to change the Interface as well.
Easy to change that property name to "`shown`". But that name feels kind of edgy. Anyone here with a nicer name?

[2017-04-19 10:45] schnepe2 commented on #9313
I still don't really like the property's name "`show`", but unless someone comes with a better idea / name:
Take it or leave it.

[2017-04-19 11:04] oetiker commented on #9313
how about calling it `columnVisible`

[2017-04-19 11:37] schnepe2 commented on #9313
@oetiker Done! Still not perfect, but much better than `shown` :+1:

[2017-04-25 09:49] helmut-kleinhans opened #9319 "VirtualComboBox - Selection does not hide when tab is switched"
in case there is a VirtualComboBox placed inside a tab and the selection is opened by cursor down, but no selection is made and then the user clicked into the next tab the selection box is not closed. the box is still showing but at screenposition x=0,y=0

You can test that in the first tab of the top tabview where the combobox is placed in the  [playground](http://www.qooxdoo.org/5.0.2/playground

[2017-04-25 09:51] cajus commented on #9319
What do I have to do to reproduce it in the playground? The opened selectbox closes directly when I change tabs.

[2017-04-25 09:55] cajus commented on #9319
Wait. You're right. Managed to get the issue in Chrome.

[2017-05-01 11:51] cajus commented on #9308
I've just updated the travis and karma configuration in master to run fine with current chrome alpha/beta.

[2017-05-01 11:51] #9308 closed

[2017-05-02 23:38] mever opened #9322 "Table next"
Dear Qooxdoo Community,

In https://github.com/qooxdoo/qooxdoo/issues/9302 I said I had my own table implementation. It turns out I am having a rough time porting/merging it into Qooxdoo. In particular keeping it backwards compatible with all possible use cases. Supporting APIs from which I am not sure if these are actually being used. Also, I am reusing what I can but can't help the need to refac

[2017-05-03 06:51] oetiker commented on #9322
Hi @mever

there is another 'problem' with the whole table implementation ... the license ... it is one of the few remaining bits of QX which is still under GPL/EPL and not MIT like the rest ... so if you were to re-implement table, in a more modern way, with a compatible API, then this would be very cool indeed.

There was some work going on in creating a new table infrastructure in qx but it was

[2017-05-03 08:05] johnspackman commented on #9322
Actually +1 for a general, non-UI virtual framework to go behind something like this - we've discussed it somewhere before, but it would be great for a class derived from `qx.data.Array` that can load and unload on demand (which could then start to be used elsewhere)

[2017-05-05 12:42] schnepe2 opened #9323 "Key repetition (in Table) broken"
It seems like the key repetition (at least for Tables) is broken.

To show the issue: Select a cell and hold the cursor down, to scroll through the table
http://www.qooxdoo.org/devel/playground/#Table-ria

Version 5.0.2 does not have this issue:
http://www.qooxdoo.org/5.0.2/playground/#Table-ria

Cursor- Up/Down and page-Up/Down do not repeat.

[2017-05-07 14:00] adrelino opened #9324 "TypeScript support"
Basic TypeScript support would be of great benefit for static syntax checking as well as IDE integration.

E.g. @pdfisk announced yesterday in [qooxdoo-devel] that he is using Qooxdoo with TypeScript extensions to ease development of his [pdfisk/vista-basic](https://github.com/pdfisk/vista-basic) framework. In particular, Qooxdoo classes are mapped to TypeScript, which allows for easy IDE integrat

[2017-05-07 14:26] adrelino commented on #9137
Currently, a search for qooxdoo on npm https://www.npmjs.com/search?q=qooxdoo
gives 12 results, out of which 3 look as if they should contain the whole source code / sdk:

1. https://www.npmjs.com/package/qooxdoo (still only contains qx.Server!!)
2. https://www.npmjs.com/package/@pcdummy/qx
3. https://www.npmjs.com/package/qooxdoo-sdk

To gain more new users that are used to manage their project d

[2017-05-07 21:58] pdfisk commented on #9324
I will make the TypeScript extensions available.

They were originally generated by "qx-parser" and I have been adding in missing typings as needed.

[2017-05-08 18:44] pdfisk commented on #9324
Vista Basic client code is now on GitHub.
https://github.com/pdfisk/vista-client

The typings file is here:
https://github.com/pdfisk/vista-client/tree/master/src/qkwidgets/types

[2017-05-09 06:49] tcsaddul commented on #9324
This is great news to TypeScript coders like me.

[2017-05-09 08:48] johnspackman commented on #9324
Looking at the jbaron's qooxdoo.d.ts it should be quite straightforward to build a target for qxcompiler that provides this; I'll add an issue

[2017-05-09 09:39] johnspackman opened #9325 "Qooxdoo Compiler - how should distribution and contrib's work?"
We’ve been discussing behind the scenes how best to distribute qooxdoo and how to create a contrib framework (specifically, how to handle a directory without a huge amount of dev or admin work); @cboulanger has proposed a neat system for doing this via github.com which I’l leave to him to explain :)

This issue is to bring that discussion into the public area and make somewhere to collate our thou

[2017-05-09 09:56] cboulanger commented on #9325
Thanks @johnspackman. The idea would roughly be the following:
[code]
The tool will rely on a couple of conventions:
- The libraries **must** have a [GitHub topic](https://help.github.com/articles/about-topics/) `qooxdoo-contrib` in order to be found and listed.
- The tool will only install **[releases](https://help.github.com/articles/about-releases/)** not branches.
- The libraries **must** have

[2017-05-10 10:25] rstmm opened #9326 "Chrome 56 json.js throwing error with developer tools opened"
Hi,
seems like Chrome 56 is having a problem with Dev tools opened. When we try to parse any json, it complains:
"SyntaxError: Unexpected token in JSON at position 1"

In Chrome 55 this does not happen.

It is complaining on the `parse(` call in:

[code]

Enter `parse('"\t"')` in the console and the same error is shown.

![grafik](https://cloud.githubusercontent.com/assets/12029804/25894347/b56f95

[2017-05-10 10:39] johnspackman commented on #9326
This is expected behaviour; the code is testing the browser's behaviour to see whether the browser's implementation of `JSON.parse()` works properly.  Unfortunately, in this specific case this will throw an exception in browser if the browser has a proper implementation, which means that every time you start the app when you have "Pause on caught exceptions" turned on you hit a break point, as wel

[2017-05-10 11:45] rstmm commented on #9326
ok you are right, I didn't see my collegue has this option activated.

[2017-05-10 11:45] #9326 closed

[2017-05-11 14:00] v3ss0n commented on #9325
check ember-cli and its addon system

[2017-05-12 06:49] cboulanger commented on #9325
@v3ss0n What features from ember would you like to see?

[2017-05-13 19:08] adrelino opened #9328 "Webpack based qooxdoo/cli"
## Qooxdoo CLI similar to Angular CLI
As mentioned on gitter, I lately developed an Angular 4 app. To get started quickly I used the npm package and github project [Angular CLI](https://github.com/angular/angular-cli).
`npm install -g @angular/cli`
It installs the command line interface tool `ng` globally, which allows to easily boostrap a new project with boilerplate code and to run a development

[2017-05-14 08:12] nkh opened #9329 "backend page not found"
http://www.qooxdoo.org/contrib/project#backend referenced by http://www.qooxdoo.org/5.1/pages/desktop/ui_overview.html

[2017-05-14 10:48] marcelr commented on #9328
Excellent summary!
If we start a new qooxdoo npm/ES6 approach the most important is that we have the patience to go persistently until the final last bit and bits. At any time, it should be productively usable.
Otherwise we end up with another half finished piece.
Or in other words: This has to be THE qooxdoo path everybody trusts in.

[2017-05-14 14:30] oetiker commented on #9328
@marcelr as I said already in the chat, I don't think that this is a matter that will be decided 'in theory'. We already have an excellent build system, and incentive to switch to something new will come from the benefits there are to gain from such a switch ... especially if they make qooxdoo work even better in the ways a qooxdoo application works ...

in other words, if you have ideas how to im

[2017-05-14 15:31] Tunga37 opened #9330 "License problem"
Do you know approximate date when qooxdoo 6 with MIT license will be published?
Is it matter of days, weeks, months, years? I really love qooxdoo but current license is not good enough for my goals. Maybe it's even a one of the main reasons why qooxdoo is  so underrated right know.

I would love to use qooxdoo if I had a change but now I am afraid I will have to look for different solutions, so th

[2017-05-14 15:47] oetiker commented on #9330
If you look at the master branch, you will see that almost all of the code has already been re-licensed under MIT, there is unfortunately one contributor who has refused to re-license and it is a rather substantial bit of code ...  we have not given up hope, but since the projects of all the people actively working on qooxdoo are not impacted by it being LGPL not that much energy is going into thi

[2017-05-14 16:30] Tunga37 commented on #9330
Thanks for clear answer. MIT license is important, gives calmness and freedom to do what you want to do. I want to create and distribute application were one of important part is qooxdoo library with probably few changes or additions, but maybe i will be able to separate application from qooxdoo and that case LGPL will be enough.

MIT license would solve all my doubts and problems from the legal p

[2017-05-14 16:35] oetiker commented on #9330
Note that LGPL means that even when you use qx in your application your application will NOT have to be LGPL ... only if you make changes to the qx source files, these changes fall under the LGPL and you have to provide the source to *YOUR CUSTOMERS* under the LGPL.

[2017-05-14 17:24] Tunga37 commented on #9330
Ok, thanks for all and congratulations for your amazing work. Still, I would love to see qooxdoo under MIT, but if it is not possible right now from practical point of view, we have to deal with this. Maybe it's not as big problem as I thought before.

Regards

[2017-05-14 17:25] #9330 closed

[2017-05-15 11:09] johnspackman commented on #9328
@adrelino we're very nearly there in terms of what I think you're asking for, it's just taking time to finish it all off.

The key thing is that qooxdoo does not need units to be explicitly imported with `require` or similar - the JS class is read, dependencies are calculated, and a load order.  When it comes to compiling an application then, this function takes care of (1, (2), and (5) - personal

[2017-05-15 12:59] cboulanger commented on #9328
As I understand, one of the core ideas of the rewrite is to reduce the functionality of the old python generator to the absolutely necessary parts which cannot be substituted by other node modules. Then we can compose everything else from there. That is, to ship a minimal CLI to do the most basic functionality with the framework, and have independently maintained and versioned boilerplate code for

[2017-05-15 13:11] mrfeet opened #9331 "Combobox/DateField/Spinner keypress events stop firing after all characters selected by 'swiping' across them"
I have found that the key pressed listener is not always triggered when the text in the field is selected by clicking and swiping across the text.

This has been reported before for textfield and textarea (#2737), but compound widgets containing a textfield have not been taken into account.

So I have extended the example from issue #2737 to show the problem for ComboBox, DateField and Spinner:

[

[2017-05-15 14:13] johnspackman commented on #9328
The intention is to go further than that and remove the dependency on python altogether; the python generator part 'make', part batch system, part compiler; having the compiler functionality replaced in JS in qxcompiler means that the other functions are (I think) all easily replaced with other modules (eg grunt) or easily written new modules

[2017-05-15 14:30] cboulanger commented on #9328
Sorry, I was unclear. What I meant was that the NodeJS-based generator is not a 1:1 replica of the more monolithic python one, but, as you say, a composable unit...

[2017-05-16 16:59] Plasmodino opened #9334 "qx.ui.table.pane.Scroller.js: Dragging of items does not work anymore after editing a table cell"
In `startEditing()` a pointerdown-listener is attached to `this.__focusIndicator`:

[code]

This listener is not removed anymore in `cancelEditing()`:
[code]
The listener keeps on catching pointerdown-events by stopping event propagation. Solution is to save the listener-id and then remove the listener again in `cancelEditing()`.

[2017-05-18 07:07] mbgonicus opened #9335 "FSM uses transition which is not registered for event"
Playground: http://tinyurl.com/nxgm3fg

In the playground code we have two states (stateA and stateB) and two transitions (stateA->stateA and stateA->stateB). stateA has events registered like this:

[code]
stateA->stateB's predicate always returns false, thus it is never used. The event "unusedEvent" is never fired.

But when firing the fsm event "myEvent", the transition stateA->stateA is invoke

[2017-05-18 07:44] mbgonicus commented on #9335
My bad - of course you cannot register multiple functions for an event. But I reckon the fsm should only check transitions for which the user has defined a predicate.

[2017-05-18 07:59] mbgonicus commented on #9335
As I learn from https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/util/fsm/Transition.js#L72

This behaviour seems to be intentional. However, I find it quite odd...

@derrell You are the original author of the fsm? Could you please clarify?

[2017-05-18 08:17] mbgonicus commented on #9335
Code that can be used as a unit test:

[code]

[2017-05-19 08:18] shrutiakki opened #9338 "[Violation] Added non-passive event listener to a scroll-blocking 'mousewheel' event. Consider marking event handler as 'passive' to make the page more responsive. why this will come and how to overcome this"
[code]

[2017-05-19 08:20] oetiker commented on #9338
this looks a lot like jquery code ... in what way is this related to qooxdoo?

[2017-05-19 08:32] shrutiakki commented on #9338
So please tell me the solution what I should do for that

[2017-05-19 08:49] johnspackman commented on #9338
err, you should ask on the jquery support forum.  This forum for for a project called Qooxdoo and has nothing to do with the code you have written.

[2017-05-19 08:49] #9338 closed

[2017-05-19 09:02] shrutiakki commented on #9338
Ohhh sorry and  thanq

[2017-05-19 10:50] BaaaZen opened #9339 "qx.ui.form.renderer.Single: Flex setting for wrong column?"
In line 31 the flex setting is activated for column 0:

`layout.setColumnFlex(0, 1);`

Column 0 is the column for the labels. Is that correct? So the labels get stretched and the form fields stay small.
Shouldn't line 31 be:

`layout.setColumnFlex(1, 1);`

[2017-05-19 10:55] kreimer commented on #9328
Hi there, I don't know if anyone else but me is using the qx part system. @johnspackman Do you mean that future releases of qooxdoo won't support parts?

[2017-05-19 20:33] kreimer commented on #9339
I agree. I have something like

            renderer.getLayout().setColumnWidth(0, 128);
            renderer.getLayout().setColumnFlex(0, 0);
            renderer.getLayout().setColumnFlex(1, 3);

in my code as well.

[2017-05-20 17:32] adrelino commented on #9328
Thanks for your input.

## Possible roadmap to qooxdoo >= 6.0.0
@marcelr, @cboulanger
I think the transition has to be a 2-step process
_First_, allow users of qooxdoo to use the library just as any other ES6 or even TypeScript library (#9324), withouth the need to call .generate.py anymore. That way, new users don't even have to learn the domain specific qooxdoo language (lets call it qooxdoo-lan

[2017-05-20 17:59] cboulanger commented on #9328
Hi @adrelino, thank you for your suggestions. I wonder, though, if you have a sense of the magnitude of the changes that would be required to implement what you have in mind. The qooxdoo toolchain as it is right now might not be the most modern way to do things, but it is the product of thousands of person-hours, tried and tested, and works very well. There is no way this can be replaced in one pi

[2017-05-21 12:00] adrelino commented on #9328
Hi @cboulanger. These are valid concerns. However, I am afraid that qooxdoo looses momentum and that all these person-hours (that first 1&1 and then the small qooxdoo open-source community invested) will be wasted. Tho qooxdoo toolchain works very well but does not integrate well with other tools for large-scale application development which also uses dozens of other tools and libraries. `npm inst

[2017-05-22 08:50] dvoral opened #9340 "bug in qx.ui.table.cellrenderer.Number"
If the cell is empty (null) and is being edited, then NaN displays.

From Derrell Lipman:
if (cellInfo.value || cellInfo.value == 0) {
    should be
if (cellInfo.value || cellInfo.value === 0) {
Note the triple '=' so that it catches the number 0 but not something that's falsy like null.

We should also change the else condition where it says cellInfo.value == 0.

[2017-05-22 09:35] johnspackman commented on #9340
Hi @dvoral, thanks for the bug report - could you try implementing a Pull Request with this change?  That's the fastest way to get a fix integrated into the core

[2017-05-22 10:01] johnspackman commented on #9339
Although I don't use Form's myself, this sounds like a reasonable change to me; please can you propose it as a Pull Request?  This is usually the best and fastest way to get a proposed change into the library

[2017-05-22 11:23] johnspackman commented on #9328
Hi @adrelino, there's a lot of points above I'll try and cover them all :)

I think there are some problems with migrating Qooxdoo to pure ES6, primarily the fact that ES6 classes do not (as I understand it) support some of the advanced features that Qooxdoo does; as you pointed out, interfaces is one of these features but also missing are events, and apply/transform for properties.  Personally, I

[2017-05-22 12:43] johnspackman commented on #9328
PS, forgot to say -

@kreimer I expect that Qooxdoo will continue support parts in the future - it's just that qxcompiler doesn't support it at the moment.  That is an area where the "does it all for you" part of dependency management gets a trickier; if modules were manually required, then @adrelino is right that parts would be obsolete because we would be switching to manual loading.  When autom

[2017-05-22 12:46] BaaaZen commented on #9339
Pull request: https://github.com/qooxdoo/qooxdoo/pull/9341

[2017-05-22 13:16] kreimer commented on #9328
@johnspackman Would this assumption imply that some of the API (qx.io.PartLoader#require method) could be dropped? Or it would be something under the hoods, compatible and transparent for existing apps?

[2017-05-22 14:37] johnspackman commented on #9328
No - when parts are implemented, I expect that it would use the same `qx.ui.PartLoader` API so that qxcompiler is fully backwards compatible.

However, I'm not sure how that API will work in the current implementation of `qxcompiler`-generated apps - the parts are ignored meaning that there is only one part, so the `qx.io.PartLoader.require` may fail because the part you are asking for does not ex

[2017-05-23 06:43] cboulanger commented on #9328
It seems to me that the only purpose of the part system is to reduce load times, not to provide some kind of module system. I would keep it for backwards compatibility, and then think about what problems we want to be solving, not about what syntax we should use (that is the second thought). For example, qookery (http://www.qookery.org) does a good job loading forms and windows at run time, and so

[2017-05-23 08:48] kreimer commented on #9328
I confess myself a simple user of the qx part system, no dived to the generator's internal depths...  But I suspect the sophistication of its output is at least non trivial to emulate. It analyses the class dependencies of each part, and organizes them in packages with the ability of merging by size if you tell it so to do in the config... For me works perfect as it is now. I wish that future buil

[2017-05-23 09:40] johnspackman commented on #9328
@kreimer have you tried rebuilding you app without parts recently?  I'm curious because I don't use them, and the only benefit I think I loose is that the initial startup is a few seconds longer than it could be; literally only a couple though.

In theory, a `build` target with one great big part won't take that much longer to download than a smaller first part - if that's true then it would mean

[2017-05-23 10:06] cboulanger commented on #9328
For what it's worth, I use the part system to implement a plugin system with independent library classes that have their own dependencies, but also depend on qooxdoo classes (See https://demo.bibliograph.org, it has a splash screen indicating the loading of the plugins). That was not what the part system was made for, so it is kind of a hack, but cannot be realized otherwise.
Maybe a survey would

[2017-05-23 10:31] kreimer commented on #9328
@johnspackman My 'boot' part represents about 50% in payload (all gzipped), the other 50% is in 10 parts (more strictly 'packages').
To prove your point (delayed initialisation vs delayed loading) all I have to do... is to pick the script of the 'boot part' and make it 'heavier' by appending spaces or comments (stuff not evaluated) up to double its size. This evening I will try this and I will tel

[2017-05-23 10:47] cboulanger commented on #9328
Here's how it works (with links to the code): the [PluginManager class](https://github.com/cboulanger/bibliograph/blob/master/bibliograph/contrib/qcl/source/class/qcl/application/PluginManager.js) is exended by the [application's PluginManager](https://github.com/cboulanger/bibliograph/blob/master/bibliograph/source/class/bibliograph/PluginManager.js), in which the plugins must be hardcoded (wheth

[2017-05-23 12:48] cboulanger opened #9342 "Integrating declarative UI definition in qooxdoo (e.g. xml-based qookery)"
[Qookery](https://github.com/ergobyte/qookery) developed by @gnikolaidis and @JosKar) allows "Declarative UI Building for Qooxdoo" via XML forms (See [Playground](http://www.qookery.org/content/waffle/qookerydemo/index.html#)). Since the declarative definition of the UI is of interest for many developers, and also might be a way to develop an UI editor, the concerns of this project might be of int

[2017-05-23 13:20] cboulanger opened #9343 "Updating developer documentation for qx 6.0"
@oetiker can you create a repository "qx-dev-manual" (or whatever name seems fitting)

[2017-05-23 14:37] derrell commented on #9335
@mbgonicus Yes, that is intentional behavior. The idea is that you can have a list of possible transitions that have predicates, and if none of those predicates pass, it runs the default transition. In my experience, that's the more typical use than not doing _anything_ if none of the predicates for transitions passes. The way around that, of course, if you want to do nothing, is to provide a pred

[2017-05-24 06:03] mbgonicus commented on #9335
@derrell Well, I get it's intentional. But I think it's counter-intuitive and violates the principle of least surprise. As in the unit test example:

[code]

I'd expect that `"stateA->stateA"` is not invoked when `myEvent` is fired, because I never defined a predicate for it that would return true for any situation.

[2017-05-24 06:11] cajus commented on #9342
This is a duplicate of #9264. Maybe you can move your comment there and close this issue, so that we don't have multiple places for discussion.

[2017-05-24 14:13] stahl-riesa opened #9344 "TinyMceArea as htmlArea replacement"
Just a suggestion for wrapping / using better developed editors in an qooxdoo enviroment

[code]

[2017-05-24 14:30] oetiker commented on #9344
how about making this a contrib

[2017-05-24 18:56] cboulanger commented on #9342
@gnikolaidis, @JosKa: I have rewritten the issue to focus on qookery as a contrib. Can you comment? A proof-of-concept of the new qooxdoo contrib system is here: https://github.com/cboulanger/qx-contrib-cli

[2017-05-24 19:14] cboulanger commented on #9264
As far as I can see, there are three projects that scratch a similar itch, that is, the generation of user interfaces from data instead of through procedural code:
- qookery (see #9342)
- @derrell's "qooxit" project (http://svn.code.sf.net/p/qooxdoo-contrib/code/trunk/qooxdoo-contrib/qooxit/trunk)
- @cajus's project mentioned above  (the playground link is broken, though)

Instead of reinventing t

[2017-05-24 20:10] oetiker commented on #9264
this is my *very* simple take on on the problem https://github.com/oetiker/callbackery/blob/master/lib/CallBackery/qooxdoo/callbackery/source/class/callbackery/ui/form/Auto.js

[2017-05-25 07:29] JosKar commented on #9264
@cboulanger In theory the form parser of qookery could be replaced make it parse JSON instead of XML and with some small patches here and there it will be working. But I cannot understand why so many people propose JSON format to write a declarative definition of a UI.

Some of my initial thoughts:

- From the perspective of a new web developer seeing all this new stuff and trying to understand wh

[2017-05-25 08:25] gnikolaidis commented on #9264
Further adding to @JosKar comment, XML allows us to

- validate our files against a normative schema
- use IDE features like autocomplete, error marking, etc
- import files with <xi:include>
- have  comments within files
- have line-breaks in <script> code
- be extensible using namespaces
- reuse forms for secondary purposes like documentation with XSL
- nicely nest elements with attributes like a

[2017-05-25 09:49] cboulanger commented on #9264
@gnikolaidis Just to clarify: this is not about you abandoning XML. By all means, use XML, I use qookery too and love it. The point is that not everyone wants to work with XML, it's a matter of taste. The common problem is data- or template-driven UI design, and the step going from data (which can be expressed in JSON, XML, YAML, etc,) to qooxdoo widgets...

[2017-05-25 09:54] cboulanger commented on #9264
@gnikolaidis I think this issue is just an invitation to think about code that could be shared. If everyone wants to keep on going separate ways, that's totally fine, too. As I said, we can pull in different solutions via contribs.

[2017-05-25 10:12] gnikolaidis commented on #9264
A "matter of taste" is not a technical argument in my book. I would love to switch to another file format that gives enough (or even more) expressibility. I also do not see the benefits of JSON as an intermediary format.

[2017-05-25 19:20] derrell commented on #9340
Sigh. There is no good solution to this problem.

On the one hand, we can change the `format` method of `qx.util.format.NumberFormat` so that an empty string is not NaN, but that is not backward compatible with apps that expect an empty string to return NaN.

We could also change qx.ui.table.cellrenderer.Number so that it does what its name implies and ensures that every field contains a number. T

[2017-05-25 21:23] zaucker commented on #9340
A number column in a table used for data entry MUST allow empty cells.

How about a separat cellrenderer class? That would not break anything.

Cheers,
Fritz

Sent from my iPhone

[2017-05-26 06:49] level420 commented on #9264
My two cents:

I've implemented a similar aproach as @oetiker did. I'm creating via a sort of compiler an array containing UI descriptions for complex forms (see https://demodb.reanimationsregister.de) which also allows to define dependencies between form fields (widgets). This dependencies allow to enable/disable hide/show widgets and widget groups held in tabs based on values of other fields and

[2017-05-26 07:25] oetiker commented on #9264
Note, this is NOT a discussion XML vs JSON ...

the idea is that there is code, that creates/manipulates qx objects based on a data-structure ...

how that data-structure is created, by parsing xml or processing a JSON file is NOT part of this ticket ...

I think there is worth in the code that generates the qx stuff, regardless of where it is getting the information from originally.

[2017-05-26 20:54] #9339 closed

[2017-05-27 15:22] tcsaddul commented on #9324
I hope the qooxdoo team will consider adding "official" support for TypeScript and make it easily accessible to newcomers.

Here is another UI framework I've been following the following for years which is very much like qooxdoo:  www.webix.com which has now also supports TypeScript:  https://blog.webix.com/typescript-types-in-webix-ui-framework/

Here is their typescript definition:  https://gith

[2017-05-29 08:32] stahl-riesa commented on #9344
First of all this should be a suggestion you all qooxdoo user, which are looking for a htmlarea replacement. If this implementation worksn und I have got some free time for developing stuff, I could make a contrib.

[2017-05-29 11:55] peuter commented on #9264
As the link @cajus provided is not working, here is an example template:

[code]
It is pretty straight forward if you are used to qooxdoo. And just as it has been mentioned twice: IMHO javascript code should not be part of the template. With the given example, you can create a custom class for you needs and use that one in the template. Just my 2cts.

[2017-05-30 09:06] johnspackman commented on #9344
I switched from TineMCE to [MediumEditor](https://github.com/yabwe/medium-editor) - it is lighter and has less quirks than TinyMCE, and when presenting a rich text editor to users it's simplicity gives a much better user experience.  This should also be a contrib, but FWIW this is my code:

[code]

I think this will work just fine, except that you'll have to replace calls to `grasshopper.af.Script

[2017-05-30 09:16] johnspackman commented on #9334
Sounds reasonable - please can you put your fix forward as a Pull Request?

[2017-06-07 08:02] cboulanger commented on #9342
Please refer to [this guide](https://github.com/qooxdoo/qx-cli/blob/master/readme.md#how-to-list-get-your-contrib-library-listed-with-qx-contrib-list) to get qookery listed in the new system.

[2017-06-07 09:59] cboulanger commented on #9325
Here is a first implementation:
- https://github.com/qooxdoo/qx-cli/blob/master/commands/contrib.js
- https://github.com/qooxdoo/qx-cli/tree/master/commands/contrib_commands
- Command syntax is in the [here](https://github.com/qooxdoo/qx-cli#commands)
- [How to get your contrib library listed](https://github.com/qooxdoo/qx-cli/blob/master/readme.md#how-to-list-get-your-contrib-library-listed-with-

[2017-06-08 08:19] cboulanger commented on #9343
Created https://github.com/qooxdoo/qx-dev-manual

However, it makes more sense to re-integrate the developer manual into the qooxdoo framework source code, replacing the existing [tech manual](https://github.com/qooxdoo/qooxdoo/tree/master/documentation/tech_manual). This will happen as soon as we have updated the manual.

[2017-06-13 06:18] level420 commented on #9334
@Plasmodino thank you for your bug report. It would be very nice if you could provide your proposed fix as a pull request. As you obviously are affected by the bug you could test the fix in your app. Thank you.

[2017-06-13 06:22] level420 commented on #9340
@dvoral did you find a solution for this bug? Please share you're solution/thoughts. Thank you.

[2017-06-13 06:24] level420 commented on #9335
@mbgonicus I'm not sure about the state of this issue. Could you please report back how we could solve this? Best would be a PR. Thank you.
@derrell could you please have a look into this issue? Thank you.

[2017-06-13 06:27] level420 commented on #9331
Should be fixed via PR #9333 and followup PR #9347. We will have to wait until PR #9347 is merged.

[2017-06-13 06:28] level420 commented on #9329
@oetiker could we fix this somehow? Thank you.

[2017-06-13 06:40] mbgonicus commented on #9335
Well, I got it that this behavior is intended. But I find it very surprising and misguiding, as a transition I never defined a predicate for actually has a predicate that returns true. So it might be used whenever `qx.util.fsm.FiniteStateMachine.EventHandling.PREDICATE` is used to define the next state for a given event.

Unfortunately, any fix would break current behavior. How is the general stra

[2017-06-13 07:03] level420 commented on #9323
@schnepe2

Tested http://www.qooxdoo.org/devel/playground/#Table-ria on following OS and browsers:

Windows 7 x64
* Chrome 59: cursor keys **OK**, page up/down **OK**
* IE 11: cursor keys **NOT OK**, page up/down **NOT OK**
* Firefox 53: cursor keys **NOT OK**, page up/down **NOT OK**
* Opera 45: cursor keys **OK**, page up/down **OK**

Windows 10
* Chrome 59: cursor keys **OK**, page up/down **OK

[2017-06-13 07:53] dvoral commented on #9340
Yes I did. I wrote on the forum what I did. On June 4 I wrote:
"I managed to fix the NaN while editing problem. I wrote an override of the
setValidationFunction of the qx.ui.table.celleditor.TextField."

Nobody asked until now what I did.
My solution:
var intEditor = new qx.ui.table.celleditor.TextField();
intEditor.setValidationFunction (
               function( value ) {
                if (val

[2017-06-13 07:57] level420 commented on #9340
@dvoral would you please be so kind to create a pull request for `qx.ui.table.celleditor.TextField`. that would be great! thank you!

[2017-06-13 09:14] dvoral commented on #9340
Can you please send me a link where I do that?
And instructions if it's not clear for a first-time user. :)

On Tue, Jun 13, 2017 at 10:57 AM, Dietrich Streifert <
notifications@github.com> wrote:

[2017-06-13 09:19] schnepe2 commented on #9323
Here the ones that **fail**:

Windows 10 (x64)
- PaleMoon 27.3.0 (32-bit)
- Firefox 53.0.3 (32-Bit)
- IE 11

Working though:
- Chrome 58.0.3029.110 (64-bit)
- Chrome 59.0.3071.86 (64-Bit)
- Edge 40.15063.0.0

[2017-06-13 11:26] derrell commented on #9340
I'd suggest adding this as a static function `numberOrWhitespace` (or some such thing) in the cell renderer, so that it would be easy to just do something like
[code]

[2017-06-13 11:57] derrell commented on #9335
@mbgonicus I'm very reluctant to make a breaking change here. This code has been in use for 10 years. I would, however, be willing to entertain a PR that adds a boolean static variable like `ALLOW_DEFAULT_PREDICATE` (feel free to propose a better name) that defaults to enabling the current behavior, but if its value is toggled, would enable the new behavior that you feel is preferable.

[2017-06-13 12:03] level420 commented on #9340
@dvoral there are several tutorials out there but here a short version which works completely in the browser:

* Create a fork of qooxdoo master (the button called `fork` on the top right of this page). This creates a fork of qooxdoo master under your account called dvoral/qooxdoo
* go to repo dvoral/qooxdoo and navigate in the source tree to `framework/source/class/qx/ui/table/celleditor/TextFiel

[2017-06-13 12:10] oetiker commented on #9335
coultn't this be a 'property' of  the statemachine object ?

[2017-06-13 12:15] mbgonicus commented on #9335
Sounds like a reasonable compromise to me. Whether we do this or not I reckon the behavior should be clearly documented.

[2017-06-13 13:28] level420 commented on #9313
Fixed via #9317

[2017-06-13 13:28] #9313 closed

[2017-06-14 08:21] dvoral commented on #9340
Thanks for your detailed instructions. I've made the pull request.

[2017-06-14 08:22] johnspackman commented on #9340
Hi,

Thank you for your email - please note that I am on annual leave, returning on June 21st
 If you have an emergency support issue, please describe your issue in detail in email and then send a text message to the mobile number on your invoice.

Regards
John Spackman

[2017-06-14 09:24] level420 commented on #9340
@dvoral you create the PR from dvoral/qooxdoo:dvoral-fix-9340 against your own forks master dvoral/qooxdoo:master

Please navigate again to https://github.com/dvoral/qooxdoo/pulls to the PR list and then click the green button "New pull request".

There will appear four buttons for selection on the "Comparing changes" page.

Please select there from the rightmost button (Text beginning with "compa

[2017-06-14 09:51] level420 commented on #9331
PR #9347 is merged
closing

[2017-06-14 09:51] #9331 closed

[2017-06-14 10:48] dvoral commented on #9340
Hope I did it correctly this time.

On Wed, Jun 14, 2017 at 12:24 PM, Dietrich Streifert <
notifications@github.com> wrote:

[2017-06-14 12:28] level420 commented on #9340
@dvoral if you need to add changes to the PR or change your current PR, you simply navigate to the corresponding branch https://github.com/dvoral/qooxdoo/tree/dvoral-fix-9340 and edit what you want and save to the same branch (here dvoral-fix-9340).

As soon as you've done that, the changes appear in the PR https://github.com/qooxdoo/qooxdoo/pull/9348

[2017-06-14 13:30] level420 opened #9349 "travis ci failing with latest chrome unstable"
We are getting the following messages when trying to start chrome:

[code]

[2017-06-14 14:02] level420 commented on #9349
@cajus could you please have a look into this if we could do something here? As chrome since version 59 supports headless mode, we could maybe run the tests without xvfb

See

- https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md
- https://developers.google.com/web/updates/2017/04/headless-chrome

[2017-06-14 14:51] cajus commented on #9349
@level420 I've updated it to run headless locally, but it's more about the incompatible NSS version.

[2017-06-14 15:34] level420 commented on #9349
Ah. I see ... So it's about choosing another ubuntu version for the container based tests which hopefully have a more up to date NSS?

[2017-06-14 15:41] level420 commented on #9349
Seems that travis ci offers ubuntu 14.04 LTS
https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments
which offers nss v 3.28 which would fit:
https://launchpad.net/ubuntu/trusty/+source/nss

[2017-06-14 17:02] oetiker commented on #9349
oh :-) we might want to upgrade

[2017-06-14 17:05] oetiker commented on #9349
adding `dist: trusty` to the .travis file should do the trick

[2017-06-15 12:08] dvoral commented on #9340
I changed the place of the check on null string as recommended.

On Wed, Jun 14, 2017 at 3:28 PM, Dietrich Streifert <
notifications@github.com> wrote:

[2017-06-17 17:33] cboulanger commented on #9349
Any progress on this?

[2017-06-19 06:13] peuter commented on #9349
I get the same error in another project using pretty much the same build environment. I already use the `trusty` dist, so the upgrade does not solve the problem.

[2017-06-19 06:40] peuter commented on #9349
Travis trusty image is a little bit outdated, it uses libnss3 in version 3.23. When you upgrade the package (`sudo apt-get --only-upgrade install libnss3`) to 3.28, the error is gone.

[2017-06-19 06:53] oetiker commented on #9349
can you do a PR for the .travis.yml ?

[2017-06-19 06:59] peuter commented on #9349
I can try, I have to check if using the "trusty" image introduces new errors.

[2017-06-19 07:18] cajus commented on #9349
Well. We spent *much* time to have a container based build - and the ticket is currently assigned to me.

[2017-06-19 07:36] cajus commented on #9349
As travis sucks from time to time, and I spent countless hours into various problems until now, I tend to make a docker image of our own which contains a *recent* distribution. Trusty is "beta" on travis side - and it's more than outdated in real life.

[2017-06-19 12:10] cajus commented on #9349
I've fixed the two errors (headless / travis beta container) and we're green again. I'll leave this issue open for the docker image - to get rid off the travis container dependency.

[2017-06-20 07:51] oetiker commented on #9349
yes that seems rather odd I wonder what makes it so hard for them to offer current images

[2017-06-26 09:54] level420 commented on #9349
seems to work again: https://travis-ci.org/qooxdoo/qooxdoo/builds/246984619

[2017-06-26 09:55] level420 commented on #9349
thank you @cajus

[2017-06-26 10:39] level420 commented on #9340
Fixed via #9348

[2017-06-26 10:39] #9340 closed

[2017-06-26 23:58] helmut-kleinhans opened #9350 "CheckGroupBox does not disable inner elements when the parent element gets disabled"
You could use this code to see the result in the playground.
When you click the "disable window" button everything works fine, but when the checkbox of the CheckGroupBox is operated twice (deactivate/activate) the inner elements are not longer set to disabled if the window is set to disabled.

==================== playground sample =============================
`
var win = new qx.ui.window.Window(

[2017-06-27 08:41] level420 commented on #9350
Verified on master and 5.0.2: both show the described effect.

[2017-07-03 09:58] mever opened #9351 "Fixed dimensions (width and height) of AbstractScrollArea"
Hi,

When changing a custom widget to support scrolling one can choose to inherit from {qx.ui.core.scroll.AbstractScrollArea} and place the children on the 'pane' instead. This adds scroll capabilities without too much hassle.

There is a catch, however. AbstractScrollArea hard codes the preferred width and height. Making the described change not enough for a drop-in replacement. To work around th

[2017-07-04 09:35] level420 commented on #9351
@mever thank you for bringing this up.
Note that you also could override (via refine) the `height` and `width` property with `null`.

[2017-07-04 09:39] level420 commented on #9351
@mever if you like to contribute, you could add some documentation to the `qx.ui.core.scroll.AbstractScrollArea` class or you could create an example within the demo browser ( http://www.qooxdoo.org/current/demobrowser/# ) which will for sure help others searching for a similar solution as you did.

[2017-07-04 10:20] mever commented on #9351
How about removing the refined properties from the AbstractScrollArea and putting it as minor BC break for 6.0? I find it hard to imaging users rely on the exact dimensions of 100x100 in their application. They probably set their own dimensions. A minor price to pay for more intuitive components don't you think?

[2017-07-04 10:47] level420 commented on #9351
Sure! Please create a PR for this. Thank you!

[2017-07-05 06:21] Liuxioc opened #9352 "qooxdoo svg拖拽"
qx.ui.core.MMovable()怎么用

[2017-07-05 06:51] cajus commented on #9352
这是一个英文错误跟踪器。你能用那个兰格吗谢谢！

[2017-07-05 12:02] ronkie opened #9353 "Qooxdoo images are not loaded in IE when app is served in https and base URL is set"
We have a qooxdoo app that is served by Tomcat via https and with base URL set in index.html, so all the resources are served from a different location than index.html location.

There is a Checkbox widget on a page that appears not checked when it actually is. We discovered that it was because chekbox image was not loaded (error 404).
Other images we have in the app are loaded correctly.

There i

[2017-07-05 12:19] ronkie commented on #9353
![image not found ie](https://user-images.githubusercontent.com/6853101/27863986-f1c51610-618c-11e7-883b-c1ab3031fa21.png)

[2017-07-05 23:37] mever commented on #9351
I use Intellij Webstorm which understands JSDoc (http://usejsdoc.org/index.html). The 'jsdoc' branch introduces some changes that make my IDE help to understand the types used throughout the code. The problem is that the generator isn't able to parse these. It says:
[code]

These are valid JSDoc annotations, but I also know Qooxdoo was using annotations around the same time JSDoc annotations where

[2017-07-11 10:36] cboulanger commented on #9343
- [ ] Style guide: Important for contributors. Should come with a linter file for client and server (nodejs-stuff)

[2017-07-16 09:54] woprandi commented on #9120
@level420 What do you need ?

[2017-07-17 23:08] MakotoNinja opened #9356 "Window not focusing in Chrome"
There appears to be a bug in Chrome when opening a window from a button where the window isn't focused right away, even if the button is set to focusable : false and keepFocus : false and explicitly calling focus on the window via appear listener.
Here is a playground example: http://tinyurl.com/yclhxrg2
In the example (using Chrome) if you click the 'Launch Window' button, a window opens and if y

[2017-07-18 06:42] level420 commented on #9356
Verified von chrome and edge.

[2017-07-25 13:40] level420 commented on #9120
@woprandi Well to be honest: I'm not sure. I think we need a proposed fix, best as a PR. Something like having a longer timeout for the long tap event.

Or we follow @slachtar s argumentation to leave it as is as the long tap should be used for the context menu.

[2017-07-25 16:56] woprandi commented on #9120
@level420 long tap should have same timeout than elsewhere, i think it's 500ms on Android

[2017-07-26 09:40] level420 commented on #9353
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9354

[2017-07-27 11:12] FriedrichF opened #9358 "ToolTip AutoHide"
The AutoHide Property in ToolTip is useless. It would be nice to add this into the ToolTip Manager.
[code]

[code]

[code]

[2017-07-27 12:38] level420 commented on #9352
no reaction from @Liuxioc
closing
@Liuxioc feel free to create a new issue, this time in english please. Thank you.

[2017-07-27 12:38] #9352 closed

[2017-07-27 13:00] johnspackman commented on #9358
Please can you submit this as a pull request?

[2017-07-31 08:27] level420 commented on #9334
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9357

[2017-07-31 08:27] #9334 closed

[2017-08-02 10:48] level420 commented on #9358
Fixed via #9359

[2017-08-02 10:48] #9358 closed

[2017-08-03 15:02] mbgonicus opened #9361 "Immediate open() on VirtualComboBox causes errors"
[Example in Playground](http://tinyurl.com/ydctvo5d)

In the example there is a `qx.ui.form.VirtualComboBox` that I like to open initially. Trying to call `open()` on it results in: `GlobalError: Cannot read property 'width' of null`

Depending on whether it was added to a container or not, the drop down will open on different places. Try the commented calls in the playground.

A workaround is to

[2017-08-03 15:07] mbgonicus opened #9362 "Changing model in VirtualComboBox while open makes wrong height"
[Playground example](http://tinyurl.com/yastwyz9)

When a `VirtualComboBox` is opened (see #9361 why the call is deferred) and then gets its model changed, the height of the drop down is not adopted. If you close and reopen the drop down, the height is correct.

[2017-08-07 13:25] level420 commented on #9361
@mbgonicus doesn't this simply mean that you have to wait until the the combo box is rendered? How about simply using a "appear" event listener to open the combo box initially? http://tinyurl.com/ybdywjvk

[2017-08-07 14:28] level420 commented on #9362
Rhere is no recalculation of the opened list done because there is no `changeLength` listener attached to the model which can bubble up into `qx.ui.form.core.VirtualDropDownList` in order to recalculate the popup dimensions.

A solution would be to add a "changeModelLength" event to `qx.ui.list.List` which is fired if the model length changes and listen to that event in `qx.ui.form.core.VirtualDro

[2017-08-07 14:34] level420 commented on #9361
as an alternative you could also flush the queue before calling open: http://tinyurl.com/y9o2zbbk

[2017-08-08 06:40] mbgonicus commented on #9361
That is correct, but I consider this of being a workaround. If one cannot open a VirtualComboBox before it is being rendered, I reckon it should be at least clearly documented. But imho it's in the responsibility of the VirtualComboBox, i.e. if one calls open() and it is not rendered, it defers the call transparently by itself. At least this behaviour was very surprising to me.

[2017-08-08 06:41] mbgonicus commented on #9362
Sounds reasonable to me...

[2017-08-08 07:28] level420 commented on #9362
@mbgonicus it would be great If you can offer a PR to solve this.

[2017-08-08 08:02] level420 commented on #9361
The idea behind all this is to have a rendering pipeline which first is filled by widget instantiation and dom creation/manipulation workload and is then flushed, normally when the current javascript code block finishes. There are a lot of widgets which are not able to successfully call some methods until they are not fully rendered, thus the queue did not complete yet.

A lot of code in qooxdoo w

[2017-08-08 08:06] level420 commented on #9361
@mbgonicus As allways PRs are very welcome. This could not only be code PRs but documenation PRs as well.

[2017-08-08 08:10] mbgonicus commented on #9362
I suspected that was the intention when providing the information ;)

When I can spare a few minutes, I'll try to make a pr

[2017-08-08 08:10] mbgonicus commented on #9361
When time allows it, I'll try a pr

[2017-08-08 11:23] derrell commented on #9361
I agree that all widgets should just work without having to resort to flushing queues or adding appear listeners. Those are kludges to make work what should have worked all along. Those of us who have been qxusers for a long time have gotten so used to doing them that we don't really even think about it any longer, but it certainly does add to the already very steep learning curve for qooxdoo. Fix

[2017-08-08 11:31] johnspackman commented on #9361
@level420 is it definitely safe to flush the queues at any time?  ie recursion would not be a problem?

IMHO the second option would be preferable - is this really such a lot of work?  because it looks fairly limited to `__adjustWidth` at first glance

[2017-08-08 11:35] derrell commented on #9361
@johnspackman It's not a lot of work to fix it in one place. It's a lot of work to fix it globally throughout qooxdoo, which I believe should be done when someone frees up the time to accomplish it.

[2017-08-08 11:36] derrell commented on #9361
Then again, we could just fix it piecemeal as someone asks about a particular case of "why in the world do I have to do this?"

[2017-08-08 11:41] level420 commented on #9361
@johnspackman the definitely safest way would be to wait until the `appear`event is fired.

Regarding the code fix in `__adjustWidth`: if we fix that it is still not what is really needed, as the `open` then succeeds, but opens the pulldown list of the combobox somewhere "in the green" because the pulldown list adapts to the input field, which maybe is not fully rendered and positioned yet.

The o

[2017-08-08 11:41] johnspackman commented on #9361
i didn't realise it was so widespread - I think I've only had to explicitly flush once or twice, ever.  I've just checked my code and can only find two references to `qx.ui.core.queue.Manager.flush`, one is a very old component I dont use any more and the other is commented out...

Does this particularly effect specific parts of the framework only, eg the virtual stuff?

But yes, I think encouragi

[2017-08-08 11:45] oetiker commented on #9361
@level420 and @johnspackman I also use the appear pattern quite often ... works well ... but obviously it requires one to understand the way qx works ... as soon as other libraries are involved which operate on DOM elements, this becomes a very important concept ... it is certainly fixable 'inside' the qx universe, but as soon as other js stuff is involved, one has to understand how things work ..

[2017-08-08 11:49] derrell commented on #9361
I find myself doing things in "appear" listeners frequently. For example, adding an item to the end of a list and then scrolling to the end (think chat app where a new message was just received from your chat partner) requires waiting on "appear" before scrolling to the end. That shouldn't be necessary. You should be able add the list item, utter scrollToEnd(), and qooxdoo should handle waiting to

[2017-08-08 11:49] derrell commented on #9361
And I wouldn't propose fixing this with flushes; rather with internally handling the "appear" event when necessary.

[2017-08-08 11:52] level420 commented on #9361
But from nature such internally delayed methods are asynchronous, where the user also needs to understand how qooxdoo work. You could, taking the example in this issue, then NOT rely on the combo box being open after you call `cb.open()`. Then you'll need an event which fires after the combo box is really open.

[2017-08-08 11:56] level420 commented on #9361
We could of course raise an exception like `widget not rendered yet` if someone calls `open`.

[2017-08-08 13:30] cboulanger commented on #9361
Or, as part of using new language features, open() could return a Promise (I haven't checked but assume that it doesn't return anything yet).

[code]

[2017-08-08 13:33] cboulanger commented on #9361
This could be visibly documented and would fit to modern async expectations - although not with the traditional "qooxdoo ways". But I am very much for gradually integrating the new JS-Features.

[2017-08-08 15:25] mever commented on #9322
This blog post refers to a wiki which supposed to have all kinds of ideas, features and use cases:
https://news.qooxdoo.org/infrastructure-for-virtual-widgets-call-for-ideas-b755b23aa1e7

Does anybody know where it is? I get a not found page.

Also, is there any additional documentation or UML diagrams besides API documentation about the infrastructure for virtual widgets?

[2017-08-09 10:38] mever opened #9366 "Improved interface for form fields"
Dear developers,

The form components, great as they are, leave some room for improvement (as do all great engineering efforts). Therefore I want to pitch an idea for improving the form package. Goal is to leave existing code backwards compatible and add functionality that make dealing with the form easier.
Conceptually we have two categories of classes, the form and its fields. Functions of the f

[2017-08-09 11:13] derrell commented on #9366
This looks really good in principle! Have you done code changes to see that it really can be done in a backwards-compatible fashion? I would be very eager to see a PR that implements this.

[2017-08-09 12:22] level420 commented on #9366
@mever could you please give a practical example where your proposal helps? Thank you!

BTW.: it took some time until I found out that BC does not mean "before christ" ;-)

[2017-08-09 21:08] mever commented on #9366
@level420 I created a separate form manager which implements a resetFields method. This method calls the form.reset() method on the Qooxdoo component and some custom logic to make it work with our custom fields. I like to get rid of resetFields and let Qooxdoo handle it.

[2017-08-10 06:02] johnspackman commented on #9366
So is this a unification of the `qx.ui.form.IForm`/`IStringForm`/`INumberForm` fields?  IE `qx.ui.form.IForm` sounds like `IFieldValidation`, and `qx.ui.form.IStringForm`/etc would inherit from `qx.ui.form.IField`?

[2017-08-10 10:11] mever commented on #9366
@johnspackman yes.

This interface allows complex fields to be accessed. The value of a selectbox is the selected item. The value of a multi-selection list or group of checkboxes is an array of model values. Even nested forms are possible as field when they implement the interface.

[2017-08-10 10:21] level420 commented on #9366
Ah OK. I've done something similar (without defining an interface for that). For example I've implemented a form field `qx.ui.form.CheckButtonBox` which is a layout widget holding a bunch of check boxes and implementing getValue, setValue etc. where the value is an array representing the checked state of the buttons in that check button box.

[2017-08-10 10:46] mever commented on #9366
It is hard to understand the form component and add new fields. Currently we have the most problems with the resetter component because it does not relies on a single interface but instead relies on implementation details (i.e. the resetter should not have to know that a field works with a selection).
Earlier I pushed for IArrayForm and IModelForm (https://github.com/qooxdoo/qooxdoo/pull/9075), wh

[2017-08-10 10:55] mever commented on #9366
Can we allow setValue to cause a minor BC break? The API doc marks the return value of AbstractField.setValue as void. But when I look at the implementation it returns particular values.

[2017-08-10 11:16] level420 commented on #9366
@mever what would the BC (I learned!) be? To change it to not return a value or to add the correct jsdoc part to document it does return a value?

[2017-08-10 11:39] mever commented on #9366
@level420 the interface I've build returns null or an Error object for setValue. Clients that expect undefined (void) or the behavior implemented in [AbstractField.setValue](https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/ui/form/AbstractField.js#L635) (when a string is returned) would break.
Although I do not think a lot of clients rely on the return value of setValue I d

[2017-08-10 12:10] johnspackman opened #9369 "Proposed Packaging in Qooxdoo v6"
This issue is to discuss the proposed packaging for Qooxdoo v6.

# One-Step Install and Setup
It’s anticipated that Qooxdoo will primarily be delivered via npm, which will allow a really nice and simple getting started guide like this:
[code]

Note that `npm install qooxdoo` should be all that is necessary to setup the entire Qooxdoo development environment - it will add the `qx` command line app

[2017-08-10 12:41] cboulanger commented on #9369
Moving the python toolchain into a separate module makes a lot of sense, since it could be separately maintained for legacy applications.
Another idea would to farm the "components" out not to **npm modules**, but to **contribs**, which would remove one layer of maintenance (you could work with the GitHub repos and skip the npm publish step). But there are pros & cons to this approach.

[2017-08-10 13:25] johnspackman commented on #9369
aha, yes I like this approach more - npm is a pain, with version numbers and republishing and now that we have `qx` the direct repo approach is trivial to explain and document.

[2017-08-10 13:54] cboulanger commented on #9369
Plus, it allows to control for qooxdoo versions, which in inherently difficult in npm (see the controversy over peer dependencies)

[2017-08-11 05:28] tcsaddul commented on #9369
+1 for the Zero Compilation Web Applications.  It will also enable Typescript support.

BTW, the following files are the only two (2) files needed in our Visual Studio IDE.  Thanks to **jbaron** for updating it to Qooxdoo 5.0.2

Definition File:  [https://github.com/jbaron/cats/blob/master/src/typings/qooxdoo.d.ts](url)
Javascript File:  [https://github.com/jbaron/cats/blob/master/resource/qooxdoo

[2017-08-11 11:06] mbgonicus commented on #9361
It seems that there is no clear consensus how to deal with this in general, thus I fixed it for this very case and made the PR #9371.

[2017-08-14 08:32] level420 commented on #9361
Fixed via https://github.com/qooxdoo/qooxdoo/pull/9371

[2017-08-14 08:32] #9361 closed

[2017-08-14 08:36] level420 commented on #9362
Fixed via #9370

[2017-08-14 08:36] #9362 closed

[2017-08-14 14:07] mever commented on #9351
@level420 can this issue be closed? #9355 is merged now.

[2017-08-14 14:12] level420 commented on #9351
@mever sure. fixed via #9355

[2017-08-14 14:12] #9351 closed

[2017-08-19 12:35] johnspackman opened #9380 "Use of `defer()` leads to unresolvable dependency"
TL;DR: the `defer` method for classes is being abused and is causing side effects which could potentially cause the generator or qooxdoo-compiler to break unpredictably; this is easily solved by making minor changes to environment checks and adding a startup event handler.

The `defer` method provides a means to do some kind of initialisation sometime after the class has been fully defined; this d

[2017-08-24 12:11] gnikolaidis opened #9381 "API generation is confused by interfaces extending multiple interfaces"
Suppose you have an interface definition with an array in extend key and one or more properties:

[code]

Then the generator.py `api-verify` job cannot correctly create documentation for the interface properties. The error message, which appears multiple times for each property, is

[code]

[2017-08-29 10:00] sfc0907 commented on #9349
I am facing the same issue with NSS_VersionCheck.My Ubuntu's version is 14.04LTS.I try this command sudo apt-get --only-upgrade install libnss3,but it seems that the vesion is 3.15.Do you have any ideas about this?Thank you.

[2017-08-31 07:21] johnspackman opened #9387 "Auto-dispose for widgets"
Following on from https://github.com/qooxdoo/qooxdoo/pull/9375 by @iceteagroup, disposing of widgets manually causes the same problems as having to manually dispose ordinary objects - IMHO it arises less often only because many applications never remove widgets from their UI.

A clean solution will be to make wigets auto-dispose; I think that this *may* be possible by delaying registering widgets

[2017-08-31 11:13] derrell commented on #9387
:+1

[2017-09-06 14:42] derrell opened #9390 "VirtualTree doesn't render if hideRoot is true"
See playground sample http://tinyurl.com/ycmp4caq

The tree's `hideRoot` property is set to true, and the only way to get the tree to render is to call the `refresh()` method when nodes are added. As the example stands, no tree nodes will be rendered as they are added every 5 seconds. To see cause the nodes to render, uncomment `this.refresh()`  at line 54. The bug also goes away if the `hideRoot`

[2017-09-08 01:54] johnsky commented on #9369
@johnspackman, the proposal regarding npm packages is reasonable, but SDK includes compiler, cli and any other stuff, so sdk contains everything a developer need:
- qooxdoo-sdk - qooxdoo developer toolkit (now and hopfully in future) is framework itself and a number of tools (demobrowser, apiviewer, generate.py or replacement);
- qooxdoo-toolkit - includes compiler, CLI, demobrowser, apiviewer and

[2017-09-08 06:20] johnspackman commented on #9369
@johnsky the reasons we're proposing dividing Qooxdoo up into a number of modules is partly to keep download size down, and partly for separation of concerns inside the project.  Components (like the demo browser) sprawl across the repository, and ideally would follow a separate (although similar) release schedule to the main framework anyway - these are client applications that *use* the Qooxdoo

[2017-09-08 06:43] cboulanger commented on #9369
@johnspackman +1

[2017-09-08 07:08] johnsky commented on #9369
It's hard to image developer workflow changes overall, and the idea seems good. Thank you for the details, @johnspackman!

[2017-09-08 07:35] johnspackman commented on #9380
There is already a mechanism to make environment settings declarative rather than a call in `defer` - `qx.Class.define` *already* supports an `environment` key, so there is no backwards compatibility issue, just changes to `defer()`

There also needs to be an optional `startup` method that is called immediately before application startup.

[2017-09-12 12:45] level420 opened #9391 "qx.ui.form.List: initial interactive selection allways selects first item"
When having a `qx.ui.form.List` in `selectionMode` set to `single` (default), the first click on the list always selects the first item, event if the click attempts to select another item.

See http://tinyurl.com/y7en7cnp

Reproduce:
Click e.g. on Item labeled `b`. Result should be the that the second item is selected. Instead the first item labeled `a` is selected.

Reported via https://gitter.im

[2017-09-14 00:25] adrelino commented on #8104
Is this finally fixed now? Took me and @marcelr a lot of time to trace this loosing tabbing issue down to a bug in qooxdoo. Or is the suggestion to not use modal windows when tabbing is desired?

[2017-09-14 03:26] leothor2015 commented on #9349
This one solved the issue. Thanks.

[2017-09-14 08:01] smartm0use commented on #9349
@peuter 's solution works, it does the trick! Thank you!

[2017-09-14 09:22] level420 commented on #8104
Reopening this issue

[2017-09-28 09:29] cajus opened #9393 "Chrome: blocker does not block keyboard events"
Here's how to reproduce it:

 * open [the playground](http://tinyurl.com/y9fk83ow) in google chrome
 * click on the 'Button' (a modal window opens)
 * press "Enter" or "Space"

What happens:
 * the "Button" is executed a second time, opening another modal window

What is expected to happen:
 * nothing, because the button is blocked by the modal window

The problem only exists in Chrome. Firefox do

[2017-09-28 09:32] cboulanger commented on #9393
It doesn't exist in Safari (11.0) either. But I know this problem from my Dialog contrib demo, it would be great to find out the source of it

[2017-09-28 09:35] cajus commented on #9393
@cboulanger I'll have time to inspect it later today, but there's some hope that someone *facepalms* and knows why it happens ;-)

[2017-09-28 15:29] mbgonicus commented on #9393
Chrome natively fires both - a pointerup and a mouseup event (in that order). The pointerup results in an execute event on the button and finally opens the dialog. Then the mouseup event is received resulting in the button getting the focus. While focussed it receives the keyboard events and can fire an execute event again.

[2017-09-28 15:43] level420 commented on #9393
Is it the normal behavior of other browsers that they get the focus on mouseup?

[2017-10-02 14:22] level420 commented on #9381
@gnikolaidis I'm not really sure, but I think that the problem is that you defined some attributes ( check, nullable ) to the icon property.

All examples I've found (not have opened all interface definitions, but most) in the framework and in the documentation are defining the properties in an interface with an empty definition, like this:
[code]
See http://www.qooxdoo.org/devel/pages/core/interf

[2017-10-02 14:24] level420 commented on #9366
closed via PR #9367

[2017-10-02 14:24] #9366 closed

[2017-10-02 14:34] gnikolaidis commented on #9381
a. With the attributes removed, the behavior is still the same.
b. With or without the attributes, with a non-array `extend` I get the correct behavior.

I really like those attributes! They constraint what a class can or cannot do when it implements the interface. If I recall correctly, there are even some runtime checks for that.

[2017-10-05 11:09] #9393 closed

[2017-10-05 12:37] mrfeet opened #9402 "qx.util.Uri.parseUri() goes wrong when @ in query"
A query string containing the '@' character is interpreted wrong, and everything after the @ is considered to be the host name.

Running this command:
`qx.util.Uri.parseUri("http://localhost/?separator=@")`
results in

Where there is a value for 'user' and 'query' is empty.

Changing the '@' into 'a' results in something correct:

Where 'user' is empty as expected and 'query' contains the query

[2017-10-05 12:38] mrfeet commented on #9402
The problem is in the regular expressions used for parsing the url. Both the strict and loose one allow too many characters in front of the '@' that is a separator between userid (and optional password) and the domain/ip address.

[2017-10-05 12:41] mrfeet commented on #9402
I have supplied a pull request with the proper regex:

https://github.com/qooxdoo/qooxdoo/pull/9403

[2017-10-05 12:52] derrell commented on #9402
I'm not sure this is quite proper. I believe that using an `@` at that point in a URL is not legal; it should be encoded. My basis for this is in this text of RFC3986:

[code]

The `@` is a generic delimiter. The second-to-last paragraph above tells me that generic delimiters are not to be used except in the exact location for which they are used as the delimiter.

[2017-10-05 12:55] derrell commented on #9402
That said, I'm not positive that I'm opposed to "fixing" it. A general concept in network programming is "be strict in what you send, but be liberal in what you accept." The latter means that if you can figure out what the sender actually meant, do it rather than barfing.

[2017-10-05 15:01] mrfeet commented on #9402
Well, a user can type it in the URL, and the browser will simply pass it as is.

[2017-10-05 15:13] derrell commented on #9402
Right, which is why your "fix", although really technically wrong, may be appropriate to have here. What other types of illegal input could a user provide, though, that we should just accept? I'll bet there are many similar things that just haven't come up yet because no user happens to have entered that incorrect URL. How far do we go to prevent the naive user from shooting himself in the foot du

[2017-10-05 15:18] mrfeet commented on #9402
I guess the last paragraph actually states it that one should simply accept it:

[2017-10-11 08:54] chrisch-hh opened #9405 "Bug? Model-to-target converter is called multiple times."
Take a look at this playground example: http://tinyurl.com/y9w9knuk

I've bound a store model to a form controller model with a converter function. The converter function is called multiple times (see the console log). The first times it is called with null, the last time it is called with the correct value. I don't know if its a bug or if its the intended behavior or my mistake, but I think the c

[2017-10-12 10:27] chrisch-hh commented on #9405
And another thing: The signature of the converter function according to the [SingleValueBinding](http://www.qooxdoo.org/current/api/#qx.data.SingleValueBindingl)  is:

`converter : function(data, model, source, target) {};`

But the `model` parameter is always `undefined` in my playground example...?

[2017-10-12 18:06] cajus commented on #9405
@chrisch-hh that's because you've an undefined model initially. Change

[code]

to

[code]

in order to have an initialized model. Your converter will be only called once in this case. The reason is that the property chaining tries to resolve a "null" source and then runs into a fallback.

[2017-10-17 12:10] sbhtw opened #9407 "qx.event.Timer: false as default for "enabled" property"
The `enabled` property of class `qx.event.Timer` is set to `true` in property definition and then set to `false` in constructor

Property definition:

[code]

Constructor:

[code]

Why not just remove `setEnabled(false)` from constructor and specify `init: false` in property definition?

This would also fix the auto-generated documentation for the `enabled` property, which states `true` as default

[2017-10-17 12:34] johnspackman commented on #9407
That sounds reasonable, please can you submit a PR with the change?

[2017-10-17 13:28] sbhtw commented on #9407
Ok.

Where can I find more information how to contribute to qooxdoo? The link in the "Contributing" section of https://github.com/qooxdoo/qooxdoo/blob/master/readme.rst is broken...

[2017-10-17 14:03] johnspackman commented on #9407
You start by cloning the qooxdoo/qooxdoo repo into your own user account, and then check it out on your computer; create a new branch and make the changes, and commit them and then push the changes back to your sbhtw/qooxdoo repo.

When you log back into github, you'll be able to create a pull request that will automatically be sent to the group for review.  That's it!

Here's some info on creatin

[2017-10-18 08:46] level420 commented on #9407
@sbhtw you have to take into account, that the `enabled` property has an applyer `_applyEnabeld` defined which is called if the property value changes. In this case we have a property init value `true` which is changed to `false` in the constructor.

This means that the following code in the applyer gets executed:
[code]
I don't know if this code has any effect, as `this._intervalHandler` should b

[2017-10-18 09:13] cajus commented on #9407
@level420 I don't think that this will be a problem. Looks like the default value is just used to trigger `_applyEnabled` - as it happens in the constructor. If the default is what it becomes anyway, using `this.initEnabled()` would be more straight forward.

[2017-10-18 11:25] level420 commented on #9407
@sbhtw here is a short description on how you can create a PR as fast and as simple as possible. All in the browser, no installation locally needed. Give it a try:
https://github.com/qooxdoo/qooxdoo/issues/9340#issuecomment-308094551

[2017-10-19 11:54] johnspackman commented on #9407
@sbhtw my last comment was incomplete - the `./generate.py test-source` only builds the test runner application, you then need to open `test/index-source.html` in the browser; you need to do this via a small web server - any web server will do, it's just that you cannot run the unit tests via a  `file://` URL

[2017-10-20 14:35] sbusch commented on #9322
Latest working version of the "wiki" linked in this blog post: [http://qooxdoo.org/documentation/general/virtualwidgets (archived by web.archive.org)](https://web.archive.org/web/20111021041634/http://qooxdoo.org/documentation/general/virtualwidgets)

[2017-10-24 06:14] sbhtw commented on #9407
See PR #9412  :-) Thanks for your help!

Should I leave this issue open?

[2017-10-24 09:30] FriedrichF opened #9413 "Unreachable Code in qx.Promise"
Firefox prints a warning, that in the Promise.js (https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/Promise.js#L6374) there is unreachable Code. Should this line be deleted or do i miss something?

[2017-10-24 11:38] derrell commented on #9353
Unfortunately, this change breaks existing code. The class `qx.util.ResourceManager` is used in non-GUI code, where `document` does not exist. We need to find a different way of solving the original problem, or ensure that this code still works in non-GUI environments.

[2017-10-24 12:18] derrell commented on #9353
I've tracked this down further. The problem is that the patch puts a dependency in `qx.util.ResourceManager` on `qx.bom.Selector`  which brings in the Sizzle library that tries to do a bunch of stuff at initialization time that assumes a GUI environment. There can not be a dependency on `qx.bom.Selector` in `qx.util.ResourceManager`.

[2017-10-24 12:30] level420 commented on #9353
OK then the faulty line is https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/util/ResourceManager.js#L288

[2017-10-24 12:34] derrell commented on #9353
Correct, but the whole patch appears to depend on that...

[2017-10-24 12:41] ronkie commented on #9353
Hi guys,

I've used qxWeb at first, but that was also not good?

https://github.com/ronkie/qooxdoo/commit/167eb14e769ee70b6fd5995e151a3dd9fcab67fc

Maybe we could simply use

document.querySelectorAll("base")

But before checking for the document, if it is there....

[2017-10-25 06:48] level420 commented on #9353
@ronkie could you please verify if the solution in PR https://github.com/qooxdoo/qooxdoo/pull/9415 works for you? Thank you!

[2017-10-27 06:18] level420 commented on #9413
@johnspackman could you please have a look into this? thank you!

[2017-10-27 10:20] johnspackman opened #9418 "Review "experimental" status of classes"
A number of classes in the framework are marked as "experimental" and have been like this for years - but the classes themselves have become such established components of Qooxdoo that they benefit from just as much concern over maintenance and backwards compatibility as any other class.  There is an argument then that these are no longer "experimental" at all.

We should review the classes and co

[2017-10-27 10:25] cajus opened #9419 "Check whether CLDR can be replaced by Intl"
We've some dependency to CLDR. It looks like all or parts of it can be replaced by the browsers `Intl` faciilty. Needs to be checked as it would remove one dependency and speed up load time.

See [here](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Intl) for more details.

[2017-10-27 11:57] level420 commented on #9407
Fixed via #9412

[2017-10-27 11:57] #9407 closed

[2017-11-02 08:52] level420 commented on #9402
Fixed via #9403

[2017-11-02 08:52] #9402 closed

[2017-11-02 12:53] julian-w commented on #211
Anything new on this topic?

I can find some .theme files on the website of wisej, but no code to load the theme into qooxdoo or a theme editor.

[2017-11-02 13:17] oetiker commented on #211
unfortunately now ... got any spare hacking time ?

[2017-11-06 07:24] gnikolaidis commented on #8935
Related bug: https://github.com/qooxdoo/qooxdoo-compiler/issues/18

[2017-11-10 09:10] johnspackman opened #9422 "Universal IDs for widgets and other objects"
It is useful to be able to identify widgets by an ID, whether for UI testing via a tool like Selenium or for general coding organisation.  An example of Selenium testing (taken from a traditional web app test) is:

[code]

Another use for IDs is during development as form of centralising widget creation in a form that can be overridden by derived classes - `qx.ui.core.Widget` has `getChildControl`

[2017-11-10 10:01] slachtar opened #9423 "mobile popup.placeTo() doesn't work as expected"
Hello,
the popup.placeTo() is not placing the popup in the specified coordinates.
Please check http://tinyurl.com/y9u2nvmz

Or use this code in playground:

[code]

[2017-11-10 10:04] cboulanger commented on #9422
I don't know anything about Selenium, just [getting my hands dirty](https://github.com/cboulanger/qx-puppeteer) with [puppeteer](https://www.valentinog.com/blog/ui-testing-jest-puppetteer/) - from which the above example comes. I completely agree with your approach  - we should agree on a naming convention and support that within qooxdoo, and make it generic enough that different testing framework

[2017-11-11 12:39] cboulanger commented on #9422
I wonder what would be better - to have an arbitrary string as ID, which would, on the basis of a convention, be parsed into components to make it meaningful, such as "ownerId/objectID", or to enforce a structure with an API such as `anyqxobject.set({ownerId:"ownerId", objectId:"objectId"})`.  The first option would be more flexible and would allow a 1:1 correspondence between data-* attributes an

[2017-11-11 13:18] derrell commented on #9422
Is `ownerId` actually the parent's `objectId`? If not, then it might be useful to use the latter (map) capability, and add a `parentId` feature that would allow following the path up to figure out which particular widget is involved. (This would be very useful when inspecting the DOM and trying to figure out exactly what/where you're looking at.) I do realize this is diverging from the original in

[2017-11-11 13:19] cboulanger commented on #9422
On further reflection, the second option seems more flexible and versatile. Since the GUI test framework could use selectors to identify the widget's DOM node (one can even [use XPATH with puppeteer](https://github.com/GoogleChrome/puppeteer/issues/537)), ownerID and objectID could be separate data-* attributes.

[2017-11-11 13:22] cboulanger commented on #9422
@derrell As I understand @johnspackman's proposal, `ownerId` is indeed the parent's `objectId`. qooxdoo would have to keep a registry which then can be queried to construct the parent/child path  - This cries for a component which can inspect these relationships with a Tree widget :-)

[2017-11-11 14:54] cboulanger commented on #9422
Here's a minimal implementation:
https://github.com/cboulanger/qx-puppeteer/blob/master/demo/source/class/demo/MObjectId.js
it works like this:
https://github.com/cboulanger/qx-puppeteer/blob/master/demo/source/class/demo/Application.js#L34
and this test:
https://github.com/cboulanger/qx-puppeteer/blob/master/tests/demo.spec.js#L46
@johnspackman Is this roughly what you had in mind?

[2017-11-11 15:07] derrell commented on #9422
Having an actual implementation is useful. Thanks! I see a few potential problems:

- It's a PITA to add these all the time. Maybe we just need to live with it, if we want them, but it sure would be nice to find a way to automate the process.
- More importantly, those IDs will get out of sync whenever you move code around. Automating the process, at least as far as setting the `parentId` (which I

[2017-11-11 15:11] cboulanger commented on #9422
@derrell thank you for your comments! All very good points that should be addressed... One thing: we should probably automate this only in debug/test mode, because otherwise we needlessly create DOM properties...

[2017-11-11 15:54] cboulanger commented on #9422
What about a default object ID which is the class name with an incrementing instance count (such as qx.ui.window.Window[1] (qx.ui.window.Window[2], ...), which would allow paths like qx.ui.window.Window[1]/qx.ui.form.Button[1].

Maybe we could turn automatic object id assignment on and off through a flag, the default being off.

[2017-11-11 21:04] level420 commented on #9422
@cboulanger good idea! But it may be a better to not have dots and square brackets in the names as those tend to interfere with languages syntax like xpath etc. maybe just `qx_ui_form_Button_1` or similar.

[2017-11-11 21:14] level420 commented on #9422
and it would be really helpful to have the enumeration relative to the parent to allow adressing the first child of a parent like `qx_ui_window_1/qx_ui_form_button_3` to find the third button instance in the first window instance.

[2017-11-11 21:25] johnspackman commented on #9422
An `ownerId` will not work because it's not scalable and because it forces us back into a situation where there is a list of all objects in a map somewhere (i.e. remove automatic memory management); it's not scalable because it would imply that every ID was globally unique.  My proposal is more that the Object would have a map of child object IDs to child objects, and each object would have an ID

[2017-11-11 22:29] johnspackman commented on #9422
PS my proposal does not cater well for existing applications, which I think adds a significant complication - the issue is that assigning an ID to a widget is easy, but making it possible to locate that widget via a globally unique equivalent is hard.  In my proposal, IDs are unique because they are relative to their parent/owner, and this implies that the "owner" hierarchy is well defined.  Exist

[2017-11-11 23:46] cboulanger commented on #9422
Can't we take up the "control" vocabulary - so inside widgets, we have "child controls", inside an application we have controls and "subcontrols". This would allow us to create control hierarchies that reach down to the child controls, such as "/editor/sendButton/label". Assigning the data-* attributes for child controls can be done automatically since they already have an ID.

[2017-11-11 23:50] cboulanger commented on #9422
I just wonder how, without a central registry, you can find, given a path, the top "controls/parents" which allow you to drill into their "subcontrol/childrens"

[2017-11-12 09:30] johnspackman commented on #9422
"Control" implies a UI control so it isn't ideal because it's often more than controls, eg the pattern for creating objects by ID is useful for creating `qx.data.controller.*` and other common objects.

To locate something without a registry, you just have to have a starting point; that could be some global object which registers `qx.core.Init.getApplication()` as (eg) "application" so that paths

[2017-11-12 09:51] cboulanger commented on #9422
Sounds great to me. Very simple API. I have a bias towards UI controls because I am interested in GUI tests. But you are totally right that this needs to be a more generic system.

One more thought:  I wonder if we should design the system so that it could store some meta-data about the structure of the application that could be visualized using the API viewer, for example, an extra tab on the lef

[2017-11-12 09:57] johnspackman commented on #9422
I wrote up a quick gist of what I'm imagining, based on your MObjectId but not tested, just written up: https://gist.github.com/johnspackman/f109bae1756e6f19f30c429c007f9c95

Re application structure: yes, that could be really really cool and I think that this ID mechanism would enable it; there was/is an inspector somewhere that you could add in to browse your app (at the Widget level).  AFAICR i

[2017-11-12 10:10] cboulanger commented on #9422
Simple and elegant. I am in favour of this approach and would support a PR in this direction. The meta-data/documentation I was thinking of could be stored in the comments, I guess that the ID is all we need in the code itself. I am thinking of some field that would map ids to "descriptions" that explain what the object does in terms of application/business logic (not as a **class**, but as a **fe

[2017-11-12 10:23] cboulanger commented on #9422
Maybe the automated id assignment that @cajus and @derrell would like to see could be implemented by including separate "homemade" mixins that would allow to use their already established patterns? I think the mechanism we provide on the framework level should be as open and generic as possible.

[2017-11-12 10:24] johnspackman commented on #9422
ah, ISWYM - a great way to do that would be to use annotations because it is an existing mechanism that would save us from having to define what meta data could to be available.  The ID mechanism is simply a way to navigate the structure, so if you added an annotation specific to libraries or researchers in bibliograph it would be up to some other tool (eg an "Inspector" widget) to decide how to i

[2017-11-12 10:30] johnspackman commented on #9422
WRT automating the process, once IDs are assigned I think most of the automation is already taken care of - I updated that gist just now to fix the missing code for this, but when you call `this.getObject("txtName")` and it calls `this._createObjectImpl`, the returned object has `obj.setOwner(this)` passed to it.

Also,  by calling `widget.getContentElement().setAttribute(...)` the IDs are automat

[2017-11-12 10:36] cboulanger commented on #9422
I think what they were talking about was to use autogenerated object ids (based on the class name, some increment, and so on.) I also think that could be useful but I would argue for not making this a basic feature of the mechanism because my sense was that there was no consensus about the syntax of how this should be implemented. Rather, we should have implementations based on your solution, and

[2017-11-12 10:54] johnspackman commented on #9422
Oh, so the `"qx.core.window.Window[2]/qx.ui.form.TextField[3]"` form?  That sounds more like an expression language, but also sounds very fragile (eg minor visual/layout changes break unit tests)

Perhaps we could do something like, first register the window globally (eg as "userProfileEditor") so it can be found, and then assign IDs to each created widget (eg "edtUsername" TextField).  In the win

[2017-11-12 11:52] cboulanger commented on #9422
Automatic Id assignment could also draw form the text of titles, labels etc., but as I said, I would prefer to have this as a separate solution that can be added in on demand.

[2017-11-12 11:55] johnspackman commented on #9422
Interesting - I don't use forms, but is it typical to associate a label with a form field?  i.e. in the way that a form field can discover it's own label?

[2017-11-12 12:06] cboulanger commented on #9422
You're right - I haven't worked on my forms for a while. Contrary to what I thought, there is no way to associate labels and forms as there is in HTML with the ["label for" mechanism](https://www.w3schools.com/tags/att_label_for.asp). Maybe there should be.

[2017-11-12 12:12] level420 commented on #9422
If you are using qx.ui.form.Form.add you are adding form fields including their label string values and a field name. The form renderer then creates label widget instances and associates them with the form field by e.g. binding their enabled property so that if you disable the field it also sets the label disabled. I’m using forms a lot.

[2017-11-12 12:12] cboulanger commented on #9422
[qx.ui.form.CheckBox](http://www.qooxdoo.org/current/api/#qx.ui.form.CheckBox) has a label (as a subclass of [qx.ui.basic.Atom](http://www.qooxdoo.org/current/api/#qx.ui.basic.Atom)), of course, but few others form widgets. Maybe this could be implemented in [qx.ui.core.MForm](http://www.qooxdoo.org/current/api/#qx.ui.form.MForm).

[2017-11-12 12:13] cboulanger commented on #9422
@level420 of course! the form has the information on fieldnames and labels. Our mechanism could tap into this!

[2017-11-12 12:22] level420 commented on #9422
In fact I’m using a derived form class where I’ve extended the interface to be able to retreive fields by their name. If I’ve added a field ‘username’, I’m able to get itbfrom the form instance via `fom.getItem(‘username’)`.

[2017-11-12 12:46] cboulanger commented on #9422
Qooxdoo provides a way to bind model properties to a form (see [qx.data.controller.Form](http://www.qooxdoo.org/current/api/#qx.data.controller.Form) - so that the property names are the field names. But it is difficult to auto-discover this because the field widgets no nothing about this controller, and the controller is not in some parent-child relationship to them.

[2017-11-12 13:47] johnspackman commented on #9422
It would be better to find a way to handle auto ids via Form rather than trying to hook into 'add' and 'remove' because that would impact a lot of widgets and require some careful coding to prevent conflicts with how ids are handled normally.

[2017-11-12 14:26] derrell commented on #9422
I think I may not have been clear. My goal is that when something goes wrong in my app, to be able to look at the DOM and quickly and easily ascertain how (where from) that DOM element was created. Currently, I have to intuit even what type of widget it is from the `class` value, and then go searching through code to figure out what the possibly many widgets are that use that `class`. I don't (for

[2017-11-14 13:05] cboulanger opened #9425 "Missing page about "test tools" in manual"
http://www.qooxdoo.org/docs/general/test_tools does not exist (referenced in http://www.qooxdoo.org/5.0.2/pages/development/unit_testing.html)

[2017-11-17 10:15] petitben commented on #9422
Very interesting topic. I looked for this kind of feature for many years :-)

I know Extjs provides this kind of mechanism using Ext.ComponentQuery. Actually it mimics the functionalities from the standard querySelector. It might worth a look at it for inspiration purpose.

Anyway I wonder if base the work on qx.core.ObjectRegistry would do the trick (as every object can be identified using toHash

[2017-11-17 10:38] johnspackman commented on #9422
I've never used ExtJS but a quick google and the query mechanism looks interesting; this ID mechanism would be a foundation piece for such a query language, but we should probably consider that as a separate PR

The disadvantage of ObjectRegistry is that having a central list of all objects makes memory management a nightmare, especially for incidental objects - there's a writeup [here](https://gi

[2017-11-22 10:49] cajus commented on #9422
Hmm. I don't understand how your example works. Mustn't it at least call the base `_createObjectImpl` to make the objects beeing registered?

More thoughts: That mechanism isn't valid if you're using *_createChildControlImpl* most of the time to control widget styling. Setting up a form is just a small part of an application, and we even use *_createChildControlImpl* for that here, because it also

[2017-11-22 11:27] johnspackman commented on #9422
It should, you're right - but not to make the objects become registered (calling base would only be necessary if the base class might create widgets on demand also).  When you need to access an object, you call `getObject("edtPostcode")` and then will only call `_createObjectImpl` the first time, to create the object - after that it is cached.  This is the same pattern as `getChildControl`/`_creat

[2017-11-27 12:28] mfedyashev opened #9429 "Appearance property "base" works incorrect, if appearance from parent theme has string value."
For example, appearance for "datefield" from theme "qx.theme.modern.Appearance" has value:

If create custom theme and extend "qx.theme.modern.Appearance", then in custom theme create apearance with the same name "datefield" and use property "base: true":

`"datefield": {
      base: true,
      style: function (states) {
          return {
              textColor: "red"
          };
      }
 }`

[2017-11-27 13:16] cajus commented on #9429
Didn't you mean to change the textColor of *datefield/textfield*?

[2017-11-27 14:49] cajus opened #9430 "Min/Max behaviour broken"
https://github.com/qooxdoo/qooxdoo/pull/9377 introduces a problem where you can't simply set min/max values to the same. We have to do that in various places and from the naming point of view, nothing tells me that *minHeight === maxHeight* isn't allowed.

[code]

Depending on the values that are inside the variables already, it fails. You've to inspect the values first to get out of this. That me

[2017-11-28 06:35] mfedyashev commented on #9429
No, I didn't mean textColor. You can use empty style function, for example:
`style: function (states) { return { }; }`
I mean, that datefield appearance in custom theme does not inherite properties from parent theme.

[2017-11-28 07:44] cajus commented on #9429
I can't find a problem in your description. What I ment with my comment was that there *is no textColor* on the level of *datefield* that is used somewhere, so it will not have any effect.

Maybe the problem is different: `base: true` does not work if the parent class has no own top level styling. In the modern theme, _datefield_ is just directly aliased to _combobox_. So you might need to add an

[2017-11-28 08:57] mfedyashev commented on #9429
Problem is not about textColor, I know that textColor on the level datefield does not have any effect. It just was bad example.
Issue is the Date field with custom theme does not have border like the Date field with moderh theme.
So, as User, I set "base: true" and expect that custom datefield will include all property from Modern datefield. But, actually, it does not work.

Yes, _include: 'combob

[2017-11-28 09:00] cajus commented on #9429
It reacts like the comments in the appearance manager suggest. So that was done this way by intention of the original authors. I don't know why they did it this way.

[2017-11-28 10:04] mfedyashev commented on #9429
The function _qx.theme.manager.Appearance.styleFrom_ uses common **this.__aliasMap** for all themes. For my custom theme datefield appearance is Entry, so when _styleFrom_ calculates this appearnce, item _"datefield": "datefield"_ is added to alias map. Then _styleFrom_ calculates datefield appearance from Modern theme, but it does not resolve new id, it just gets existing alias from map. But alia

[2017-11-28 12:43] level420 commented on #9430
@cajus as far as I can see in https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/ui/core/LayoutItem.js#L751-L763
both asserts are about `minWidth <= maxWidth` and `minHeight <= maxHeight` where a test against lower or equal is done.
I think this is correct.

[2017-11-28 13:24] cajus commented on #9430
@level420 I didn't say it's wrong. Its just too agressive. Think about a theme A which has a widget with *minWidth* set to *40* and *maxWidth* set to *60*. Now you switch the theme which has different settings. Because *_applyDimensions* is now the place where the check happens, it is a hard constraint between these. It was a soft constraint before, because it was checked at render time.

As a res

[2017-11-28 14:30] level420 commented on #9430
@mever could you please have a look into this issue. I'm in favor of reverting that part of the PR which belongs to the min vs. max checks, moving them form `qx.ui.core.LayoutItem` back to `qx.ui.core.Widget`. Would this change anything regarding the fix for `qx.ui.form.core.VirtualDropDownList`?

[2017-11-28 18:52] mever commented on #9430
That's unfortunate. I think that the core of the issue is to set qx-properties in order. We can not guarantee that setting qx-properties in a random order will not break consistency. Therefore I fear reverting will not address the real issue.

To clarify, the `set` method on `qx.core.Object` does not respect js-property order (the map argument, which is a js object, is by definition not ordered).

[2017-11-28 18:55] mever commented on #9430
@level420 Regarding your question. No it woudn't change anything for `VirtualDropDownList`.

[2017-11-30 09:45] mever commented on #9430
I am writing a PR which could solve the problem. This introduces a transaction object. Which will be used by the set method to perform property changes in one transaction (like a database).
This will not only solve the problem with min/max properties specifically but with constraints between properties in general.

[2017-11-30 13:49] hkollmann commented on #9137
discussend here: https://github.com/qooxdoo/qooxdoo/issues/9369

[2017-11-30 13:49] #9137 closed

[2017-11-30 13:54] hkollmann commented on #9325
We have an implementation working: https://github.com/qooxdoo/qooxdoo-cli

[2017-11-30 13:54] #9325 closed

[2017-11-30 16:58] cboulanger opened #9435 "Documenting the type of a value wrapped by a promise in async functions"
Async functions always return a promise, so there is no need to provide a `@return {Promise}` JSDoc as it is implicit in the `async` keyword. However, an API consumer wants to know what type of value is wrapped in the Promise (== what type of value it resolves to). Also, this should be displayed in the new API viewer. The question has been [debated in the JSDoc community](https://github.com/jsdoc3

[2017-11-30 17:05] derrell commented on #9435
And let's not forget that we need to document a promise that is an argument to a function as well, so:
[code]
possibly this, but it's really ugly IMO:
[code]

[2017-11-30 17:06] derrell commented on #9435
And if we do that, then the just-as-ugly return documentation should probably be used
[code]
but I have a strong preference for replacing `@return` with `@promise` for async functions.

[2017-11-30 17:39] johnspackman commented on #9435
if the function is written as async (in the ES6 sense of `async function blah`) then the jsdoc could show the value returned when resolved, but for functions which are written the old fashioned way I've parenthesised it, eg:

[code]

The advantage of this is that the generator does not need to be modified to support it, and the compiler can add output to flag that the function is ES6 async

[2017-11-30 21:48] cboulanger commented on #9435
A lot to be said for each of these solutions, and yet none seems a natural fit. No wonder the JSDoc people haven't come up with a convention yet.

I think I like `@return {Promise(Boolean)}` best even though the round parentheses kind of suggest similarity to method signature. I think ` @return {Boolean}` is misleading. Async functions return Promise objects - and even though everybody should know

[2017-11-30 21:53] cboulanger commented on #9435
There is a larger story there concerning parameters and return values: should they be describing only the general type of the value, or also its structure (which would be more valuable). It would be a lot more informative to have, for example `@return {Promise({ id: String, name: String, age:Number})}` than simply `@return {Promise}` or even `@return {Promise(Array)}`. BTW, do we use {Map} (for ob

[2017-11-30 22:57] johnspackman commented on #9435
I don't think we do anything for structures, but JSDoc has a similar pattern:

An object called 'myObj' with properties 'a' (a number), 'b' (a string) and 'c' (any type).
[code]

taken from http://usejsdoc.org/tags-type.html

[2017-11-30 22:57] johnspackman commented on #9435
closed in error!

[2017-11-30 23:21] cboulanger commented on #9369
Concerning the `qooxdoo-sdk`- package - It just occurred to me that it really makes no sense to upload the whole qooxdoo-sdk to npm for each and every small change that is made to the framework, in particular before we have any stable release (the only occasion this really makes sense). Instead, the `qooxdoo-sdk` package should consist of a stub that executes a script when installed that downloads

[2017-12-01 05:53] johnspackman commented on #9369
The idea is that `qooxdoo-sdk` is the npm package that you add to an npm module in order to use Qooxdo in your npm based tool (eg compiler and cli would use `const qx = require("qooxdoo-sdk");`).  So that download script would have to be part of npm's install/setup process, and presumably npm will run it every time a new version is released, possibly after deleting the old version so even if we wa

[2017-12-01 07:05] cboulanger commented on #9369
I agree with you that real releases should be ready-to-go npm packages. I wasn't clear enough: I mean as long as we are in the alpha/beta phase, we should already be offering an NPM package so that the workflow is established, but it seems so incredibly wasteful (and a unneccessary work) to be releasing NPM packages of a moving target. My idea was that during this time, we could have a `qooxdoo-sd

[2017-12-01 07:43] level420 commented on #9430
While this is in discussion and the corresponding PR in review, I've created PR #9436 which reverts the assertion.

[2017-12-01 08:01] hkollmann commented on #9369
That's the idea i am working on. We have a stable qooxdoo-sdk package version 5.0.2 on npm . We could use this to integrate into qx-cli package. We can't use qooxdoo for this - as suggested above - because the qooxdoo package is used for the qooxdoo Server components for a long time.

If you want to use the develop version of qooxdoo you can use npm link ../qooxodoo
For this to work the package na

[2017-12-06 17:09] nwgroup opened #9447 "Tab index on forms problem"
When we use the grid layout the default tabIndex does not work correctly. Always give priority to selectBox or textArea and not in the order from left to right. Thank you team for your important help. The code to reproduce:

        this.setLayout(new qx.ui.layout.VBox());
        var gridLayout = new qx.ui.layout.Grid();
        var container = new qx.ui.container.Composite(gridLayout);

[2017-12-08 15:31] AmjadKh opened #9449 "Tab key not working if you click outside a modal window and then return to the window"
in desktop:
when you open a window with controls in it, if you press tab key it will navigate correctly, but if you click outside the window and then click inside the window, the cursor remains on the textfield and will not move to the next control.
I notices also, not only the Tab key not working, also Space key not working when you press it on buttons.

[2017-12-11 09:11] cboulanger opened #9450 "populate "files" key in package.json"
@johnspackman @hkollmann In order not to upload the whole of the qooxdoo-sdk to NPM when all we need is the "framework" folder, we need to set the "files" key in `package.json`:

https://github.com/npm/npm/wiki/Files-and-Ignores

[2017-12-12 12:29] level420 opened #9451 "Testrunner: test qx.test.lang.normalize.Date."test parse()" fails on current safari"
The test fails currently in line https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/test/lang/normalize/Date.js#L57 because the native `Date.parse()` on safari is able to parse dates not containing any hyphens.

It seems that current safari/webkit Date implementation does parse successfully strings like
[code]
into a date object.

This is exactly tested via the failing test w

[2017-12-12 12:39] derrell commented on #9451
From MDN:

Any tests that attempt to parse, or detect that it could not parse dates are liable to fail...

[2017-12-12 12:49] level420 commented on #9451
@derrell yes, but what to do with the test?

[2017-12-12 12:50] level420 commented on #9451
This is part of my attempts to have the safari testrunner succeed again in order to add safari as a target via saucelabs for travis

[2017-12-12 12:53] derrell commented on #9451
@level420 Either eliminate the test, or anticipate it failing when different browsers are tested, and expect to be updating the test. We may be ok henceforth, since ES5 defines what the method should do. As long as older browsers aren't re-released with different behavior, we should continue to pass.

Since ES5 **does** define the behavior, though, to be thorough, we should probably make the tests

[2017-12-12 12:56] level420 commented on #9451
@derrel BTW according to https://kangax.github.io/compat-table/es5/#safari11 (not sure about the validity of the source though) claims safari to be ES5 compliant regarding the date methods.

[2017-12-12 21:23] hkollmann opened #9456 "move readme.rst to readme.md"
the readme for on npm must be in md format to be recognized.
The current Version in qooxdoo is rst format.

Problem to change: In .travis/make-release-sdk line 58 the readme.rst is transformed into readme.html for the pages. This is done by a python script rst2html.

Any ideas how to handle this?
One idea is to use an npm based package, found here: https://www.npmjs.com/package/md2html

Better ide

[2017-12-12 21:33] johnspackman commented on #9456
transforming .rst to .md sounds like a good plan to me 👍

[2017-12-13 14:24] hkollmann opened #9461 "decrease of coverage breaks build"
so that we can not merge. Could we configure the delta when it should break?

[2017-12-13 20:40] #9461 closed

[2017-12-13 20:40] hkollmann commented on #9461
it's working.

[2017-12-15 08:10] #9451 closed

[2017-12-15 13:29] level420 commented on #9449
Verified on current chrome 63 and firefox 57.

[2017-12-15 14:59] level420 commented on #9449
Only true for modal windows

[2017-12-15 17:07] level420 commented on #9449
Same as ##8104

[2017-12-15 19:17] AmjadKh commented on #9449
Thanks for your reply.
It is strange that the issue is exist 4 years ago and still not resolved

[2017-12-18 08:03] level420 commented on #9449
@AmjadKh please have a look into PR https://github.com/qooxdoo/qooxdoo/pull/9466 and report back if it solves the issue for you. Thank you.

[2017-12-18 08:04] level420 commented on #8104
@adrelino @marcelr please have a look into PR https://github.com/qooxdoo/qooxdoo/pull/9466 and report back if it solves the issue for you. Thank you.

[2017-12-18 08:16] level420 opened #9467 "Some iframe related tests fail in testrunner in full run, but not if run separately"
All failing tests are somehow iframe related. I suspect that it has something to do with the native iframe "load" event not being fired or not bubbling up to the listeners. The problem is, that if you don't run the test completely but just start each section separately and run them in linear order, starting from "application" to "util" you won't see the tests failing which makes it horrible to deb

[2017-12-18 09:03] level420 commented on #9467
It should be discussed if it would be possible to split the monolithic travis runs into single sections, to allow running as the tests do not fail this way. At least not if you run them interactively/manually by clicking on the sections and hitting the "run tests" button. This would result in 20 separate runs of testrunner, where we additionally have to move the test classes `qx.test.*` into `qx.t

[2017-12-18 09:46] hkollmann commented on #9456
Done with https://github.com/qooxdoo/qooxdoo/pull/9464

[2017-12-18 09:46] #9456 closed

[2017-12-18 09:47] hkollmann commented on #9450
Done with https://github.com/qooxdoo/qooxdoo/pull/9464

[2017-12-18 09:47] #9450 closed

[2017-12-18 15:51] cajus opened #9471 "Unify npm package names"
Currently we have:

* qooxdoo-sdk
* qx-cli
* qxcompiler

This doesn't feel very streamlined. Long version:

 * qooxdoo-sdk
 * qooxdoo-cli
 * qooxdoo-compiler

or short version

 * qx-sdk
 * qx-cli
 * qx-compiler

or something else?

Publishing it as *qooxdoo-sdk* when it becomes *qx-sdk* will not make sense. Except it's possible to remove these entries again.

[2017-12-18 15:55] hkollmann commented on #9471
There already exists a qooxdoo-sdk on npm

[2017-12-18 15:59] level420 commented on #9471
We should go with
- qx-sdk
- qx-cli
- qx-compiler
if possible

[2017-12-18 16:03] johnspackman commented on #9471
I quite like the longer `qooxdoo-*` versions, it's immediately recognisable and better for search engines.

[2017-12-18 17:49] cajus commented on #9471
[![](https://api.gh-polls.com/poll/01C1NBVETC3AFXSGHGA9PF4MRK/Use%20qooxdoo-*)](https://api.gh-polls.com/poll/01C1NBVETC3AFXSGHGA9PF4MRK/Use%20qooxdoo-*/vote)
[![](https://api.gh-polls.com/poll/01C1NBVETC3AFXSGHGA9PF4MRK/Use%20qx-*)](https://api.gh-polls.com/poll/01C1NBVETC3AFXSGHGA9PF4MRK/Use%20qx-*/vote)
[![](https://api.gh-polls.com/poll/01C1NBVETC3AFXSGHGA9PF4MRK/I%20don't%20care)](https://api

[2017-12-18 18:00] derrell commented on #9471
I prefer the longer `qooxdoo-*` version. Whose is the existing `qooxdoo-sdk` that's in npm?

[2017-12-18 18:02] derrell commented on #9471
Uggh. I clicked on the fuel bars to bring up the voting, only to discover that where i clicked registered my vote. I do *not* want to vote for qx-*, i want to vote for `qooxdoo-*`

[2017-12-18 18:04] johnspackman commented on #9471
`qooxdoo-sdk` is ours, now - the original author handed it over to us

[2017-12-18 18:15] cajus commented on #9471
Stupid poll. You can vote as often as you want :-(

[2017-12-18 18:29] johnspackman commented on #9471
But it doesn't count up extra times - I tried voting twice and it didn't increase the count

On Mon, Dec 18, 2017 at 6:15 PM +0000, "Cajus Pollmeier" <notifications@github.com> wrote:

Stupid poll. You can vote as often as you want :-(

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-20 15:00] #9449 closed

[2017-12-20 15:16] level420 commented on #8104
Fixed via #9466

[2017-12-20 15:16] #8104 closed

[2017-12-20 15:17] level420 commented on #9430
Fixed via #9436

[2017-12-20 15:17] #9430 closed

[2017-12-20 15:24] level420 commented on #9447
@nwgroup you could try to set the `tabIndex` property of the focusable widgets you're adding to the container with ascending values, in that order you're awaiting the tab sequence to be.

[2017-12-20 17:09] rkroboth opened #9473 "python build process error"
I keep running into a python build error.

I have a linux system that is mounting an OSX server. The qooxdoo library is all on this mount point. When I run the generate.py to build my project, I get the following Python error:

[code]

I believe the problem is with mounted file systems that are case-insensitive (OSX and Windows), the python files can't have a directory name that is the same as a c

[2017-12-21 13:20] level420 opened #9474 "Testrunner: qx.Promise tests interfere with other tests"
It's currently not clear how, but in current testrunner it seems that the tests in `qx.test.Promise` leave some change in testrunner behind which makes specific tests fail.

I'm currently only able to reliably reproduce this on safari by the following steps:

1. load the test runner in safari
2. run the `qx.test.Promise` tests by selecting them in the tree and hit "Run Tests" which all will succee

[2017-12-21 13:28] level420 commented on #9474
Here the messages in the console:
[code]

[2018-01-10 14:43] nwgroup commented on #9447
@level420 thanks for your answer. We already did that but we think is important to fix it to all framework for other users. That because when we have many other widgets in the same window so is difficult to mantain the coherent order.

[2018-01-15 14:59] hkollmann commented on #9080
Done with #9399

[2018-01-15 14:59] #9080 closed

[2018-01-18 01:32] paragasu opened #9481 "TypeError: document.msElementsFromPoint is not a function on Firefox v59.0b1"
This error only appear in the Firefox browser console right after i upgrade the firefox version to v59.0b1 (Firefox Developer Edition),
On the console also mention the related js file `TouchCore.js:398`

I am running the lastest version of qooxdoo (commit 382e296ec029845d7903b361a5ccd8943a3d55c9)
Firefox v59.0b1 (Firefox Developer Edition) on Debian Linux

To reproduce,
1. Git pull the latest comm

[2018-01-18 08:13] level420 commented on #9481
The call to `document.msElementsFromPoint` comes from https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/event/handler/TouchCore.js#L398 in method `qx.event.handler.TouchCore.__evaluateTarget`.
This method is called in `qx.event.handler.TouchCore._getTarget `, but only if `qx.core.Environment.get("event.mspointer")` is `true`.

@pragasu could you please check (via console) wh

[2018-01-18 09:36] cboulanger opened #9482 "add find() method to qx.data.Array"
`qx.data.Array` should mirror the native Array methods, but is lacking the find() method currently:

- http://www.qooxdoo.org/current/api/#qx.data.Array
- https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/find

The method should be added. There is a polyfill in the MDN docs which could be adapted.

- [x] Add method
- [ ] Add tests

[2018-01-18 15:10] paragasu commented on #9481
hi @level420,

The value of `qx.core.Environment.get("event.mspointer")` is `true`.

`msElementsFromPoint` has been rename to only `elementsFromPoint` in Firefox?

[2018-01-18 15:30] paragasu commented on #9481
Setting the env `event.mspointer` in the config.json will make the error disappear otherwise everytime i move the pointer will generate the above error.

[2018-01-18 15:55] paragasu commented on #9481
Renaming the `document.msElementsFromPoint` to `document.elementFromPoint` at `TouchCore.js:398` seem to solve the problem.

[2018-01-18 17:14] level420 commented on #9481
Firefox implemented since v41 `PointerEvent` but did not enable them by default.
See:
 https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent/PointerEvent
 https://www.w3.org/TR/pointerevents/

To enable them til (obviously) v59 they had to be activated in the preferences in about:config `dom.w3c_pointer_events.enabled` by setting it to `true`.

Now it seems that they will enable them by de

[2018-01-18 17:35] level420 commented on #9481
Yep! That's it: I've set `dom.w3c_pointer_events.enabled` to true in my Firefox v58 and now I can see that error message as well.

The failing code is commented to be af fix only for IE10 which was introduced with commit https://github.com/qooxdoo/qooxdoo/commit/b016e2a22e4813cea955899b514d9c30d4a94261#diff-553374637eec64b4739bead3bcca7f64 in 2012 with a fix for issue https://github.com/qooxdoo/qo

[2018-01-18 17:44] level420 commented on #9481
The fix is applied for
[code]
but it should be applied for
[code]
Will prepare a PR soon.

[2018-01-19 10:28] level420 commented on #9482
We already have a polyfill in place for `Array`: https://github.com/qooxdoo/qooxdoo/blob/master/framework/source/class/qx/lang/normalize/Array.js#L265
We only need to wrap it into a `qx.data.Array` method:
[code]
and of course write some tests.

[2018-01-19 11:04] level420 commented on #9481
@paragasu could you please check if PR #9483 solves this issue? Thank you!

[2018-01-19 12:00] cboulanger opened #9484 "Add a map() method to qx.utils.ResourceManager"
In order to support other iconsets that do not conform to the path layout and filenames of the iconsets "Oxygen" and "Tango" that are shipped with the framework, I propose to add a `map` method to `qx.utils.ResourceManager`. This would allow to do

[code]

[2018-01-19 12:12] cboulanger opened #9485 "Add ${qx.iconset} environment variable and replace hardcoded icontheme"
@johnspackman has looked at the framework code and found that the iconthme "Tango" is often hardcoded. This needs to be replaced by `${qx.icontheme}`. Better yet, should add `${qx.iconset}` defined  as `/qx/icon/${qx.icontheme}` and then change references in the framework to just use @asset(${qx.iconset}/22/etc/etc.png).

[2018-01-19 18:31] paragasu commented on #9481
The value of `dom.w3c_pointer_events.enabled` in my `about:config` is also `true`.
Yes PR #9483 solve the problem.

[2018-01-23 11:49] hkollmann commented on #9481
Fixed with PR #9483

[2018-01-23 11:49] #9481 closed

[2018-01-24 08:29] level420 commented on #9481
@paragasu thank you for reporting this issue!

[2018-01-24 15:24] cboulanger commented on #9485
To take this a step further: It seems a bad idea to use hardcoded icon paths at all. To make theming possible that is independent of the (arbitrary) naming and ordering of the Tango and Oxygen icon sets that are shipped with the framework (side note: they look very 1990-ish), icon paths should always be aliases which are resolved by the theme used.

[2018-01-26 07:11] cboulanger commented on #8935
I think this can be closed because the generator will be deprecated in qx6.0 and not further developed.

[2018-01-26 07:13] cboulanger opened #9487 "Support source maps in qx.log.appender.Native"
Currently, when using the new compiler error stack traces are from the compiled/transpiled sources. The compiler generates source maps, so we should use those. I am not familiar at all how that works, however.

@johnspackman

[2018-01-26 07:14] cboulanger commented on #8935
See also #9487

[2018-01-26 07:27] #8935 closed

[2018-01-26 07:53] johnspackman commented on #9487
This is possible but raises practical issues - the source maps are 1Mb in size just for a tiny demo app, and I have several real world apps that are 5Mb; source maps would have to be downloaded by the client and parsed in order to map to the original line numbers.  It could cause issues with memory, CPU, and app startup times; maps can be downloaded on demand to avoid startup time issues, but this